# Data Collection and Preparation Notebook

After collecting preparing stadium location data for all 30 active MLB teams from the beginning of the league, the next step is to isolate the unique coordinate pairs to be used for collecting weather data.

In [1]:
import json
import pandas as pd
import glob
import numpy as np
import os

In [2]:
#reading full stadium dataframe created in stadium_data_cleansing.ipynb
complete_stadiums = pd.read_csv('data/complete_stadiums.csv', index_col = 0)

In [3]:
complete_stadiums.head()

,team_code,team,state_code,year,primary_stadium,primary_latitude,primary_longitude,secondary_stadium,secondary_latitude,secondary_longitude,attendance/game,pitching_park_factor,batting_park_factor
0,TBD,Tampa Bay Rays,FL,2019,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"14,552",96,97
1,TBD,Tampa Bay Rays,FL,2018,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"14,259",96,97
2,TBD,Tampa Bay Rays,FL,2017,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"15,477",96,96
3,TBD,Tampa Bay Rays,FL,2016,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"15,879",95,95
4,TBD,Tampa Bay Rays,FL,2015,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"15,322",97,96

In [4]:
#create dictionary of coordinate pairs for unique stadiums
unique_coordinates = {}
for j in range(len(complete_stadiums)):
    if complete_stadiums.iloc[j]['primary_stadium'] not in unique_coordinates.keys():
        unique_coordinates[complete_stadiums.iloc[j]['primary_stadium']] = [complete_stadiums.iloc[j]['state_code'],\
                                                                    complete_stadiums.iloc[j]['primary_latitude'],\
                                                                    complete_stadiums.iloc[j]['primary_longitude']]
        try:
            if unique_coordinates[complete_stadiums.iloc[j]['primary_stadium']][1] == \
            unique_coordinates[complete_stadiums.iloc[j-1]['primary_stadium']][1] and \
            unique_coordinates[complete_stadiums.iloc[j]['primary_stadium']][2] == \
            unique_coordinates[complete_stadiums.iloc[j-1]['primary_stadium']][2]:
                del unique_coordinates[complete_stadiums.iloc[j]['primary_stadium']]
        except Exception:
            continue

In [5]:
#removing entries with unique stadium names that have the same coordinate pairs, i.e. stadiums that were rebuilt
#in the same place, just with a different name 
final_coordinates_dict = []
for j in unique_coordinates.keys():
    if unique_coordinates[j] not in final_coordinates_dict:
        final_coordinates_dict.append(unique_coordinates[j])

In [6]:
#Create unique names for each coordinate pair and state code (necessary to for creating unique directories with
#noaa_weather_collection.py scraper file)
unique_dict = {}
counter = 1
for j in range(len(final_coordinates_dict)):
    unique_dict['location_' + str(counter + j)] = final_coordinates_dict[j]

In [7]:
#create dataframe for unique coordinate pairs
locations_ = []
for j in unique_dict:
    dict_iter = {'state': None,
                'latitude' : None,
                'longitude' : None}
    dict_iter['state'] = unique_dict[j][0]
    dict_iter['latitude'] = unique_dict[j][1]
    dict_iter['longitude'] = unique_dict[j][2]
    locations_.append(dict_iter)
for j in locations_:
    if j['state'] == 'D.C.':
        j['state'] = 'DC'
coords_df = pd.DataFrame(locations_)

In [14]:
#store as csv file
coords_df.to_csv('data/unique_coordinates.csv')

Once the DataFrame of unique coordinate pairs and state codes has been created, the next step is to collect altitude. The reason for this is twofold: One, altitude could be a significant feature in the modeling phase. For example, playing in the thin air in Denver is notoriously hitter-friendly and widely hated by opposing pitchers. The second reason has to do with weather collection. The stations being evaluated from the Global Historical Climatology Network have varying elevations, and it's possible that the elevation for the stadium will be much higher or lower than that of the station. This could introduce noise into the data, if weather is collected at the top of a nearby mountain when the stadium itself sits in a valley. 

To collect this data, I have used the bulk point query feature of the USGS TNM National Map service.

In [7]:
#formatting coordinate points in specified format from USGS site: longitude,latitude
with open('data/coordinates_elevation.csv', 'w') as f:
    for j in range(len(coords_df)):
        long = '-' + str(coords_df.iloc[j]['longitude'])
        f.write(long)
        f.write(',')
        lat = str(coords_df.iloc[j]['latitude'])
        f.write(lat)
        f.write('\n')

In [9]:
#reading output from USGS site
elevations = pd.read_csv('data/bulk_pqs.csv')

In [10]:
#entering column names for USGS output
elevations.columns = ['ID', 'input_lon', 'input_lat', 'elevation_ft', 'elevation_m']

In [11]:
#removing negative sign from longitudes: all longitudes are West of the Prime Meridian so there will be no confusion,
#this will be necessary to merge with GHCN data later
elevations['input_lon'] = elevations['input_lon'].apply(lambda x: (x * -1))

In [12]:
#concatenate elevatiosn to coordinate dataframe
coordinates_w_elevation = pd.concat([coords_df, elevations], axis = 1)

In [13]:
#remove redundant columns
coordinates_w_elevation = coordinates_w_elevation.drop(columns = ['ID', 'input_lon', 'input_lat'])

In [14]:
#manually input elevations for Montreal stadium: not provided by USGS service
coordinates_w_elevation.at[21, 'elevation_ft'] = 101.706
coordinates_w_elevation.at[21, 'elevation_m'] = 31.0
coordinates_w_elevation.at[22, 'elevation_ft'] = 101.706
coordinates_w_elevation.at[22, 'elevation_m'] = 31.0

In [15]:
#add state codes for Canadian cities
coordinates_w_elevation.at[21, 'state'] = 'QC'
coordinates_w_elevation.at[22, 'state'] = 'QC'
coordinates_w_elevation.at[33, 'state'] = 'ON'
coordinates_w_elevation.at[34, 'state'] = 'ON'

In [35]:
#save as .csv file
coordinates_w_elevation.to_csv('data/coordinates_elevation_final.csv')

In [16]:
coordinates_w_elevation

   state   latitude   longitude  elevation_ft  elevation_m
0     FL  27.768333   82.653333        30.240         9.22
1     CA  37.751667  122.200556         0.000         0.00
2     MO  39.086000   94.555000       912.630       278.17
3     PA  39.996111   75.165000       117.890        35.93
4     PA  39.981111   75.182778       100.440        30.61
5     CA  37.778611  122.389167        11.570         3.53
6     CA  37.713611  122.386111        25.240         7.69
7     CA  37.766667  122.409167        55.490        16.91
8     NY  40.830833   73.937500        14.410         4.39
9     NY  40.798056   73.950278        21.260         6.48
10    IL  41.948056   87.655556       600.070       182.90
11    IL  41.870278   87.672500       592.570       180.62
12    WA  47.591111  122.333056        16.150         4.92
13    WA  47.595278  122.331389        16.570         5.05
14    FL  25.778056   80.219722         4.310         1.31
15    FL  25.958056   80.238889         8.610         2.62
16    IL  41.830000   87.633889       593.950       181.04
17    IL  41.831944   87.633889       593.380       180.86
18    IL  41.824444   87.632778       594.400       181.17
19    DC  38.872778   77.007500        22.520         6.86
20    DC  38.890000   76.971944         9.770         2.98
21    QC  45.558056   73.551944       101.706        31.00
22    QC  45.535000   73.628333       101.706        31.00
23    AZ  33.445278  112.066944      1086.490       331.16
24    CA  34.073611  118.240000       515.680       157.18
25    CA  34.014167  118.287778       160.720        48.99
26    NY  40.706389   74.105000        10.040         3.06
27    NY  40.665000   73.958056        85.460        26.05
28    NY  40.673900   73.985600        27.300         8.32
29    PA  40.446944   80.005833       726.010       221.29
30    PA  40.446667   80.012778       731.380       222.92
31    PA  40.441944   79.954167       899.730       274.24
32    PA  40.446944   80.010833       729.790       222.44
33    ON  43.641389   79.389167       284.410        86.69
34    ON  43.631944   79.417778       268.420        81.81
35    MA  42.346111   71.097500         5.580         1.70
36    MA  42.338889   71.088889        10.090         3.08
37    MN  44.981667   93.278333       825.600       251.64
38    MN  44.973889   93.258056       843.920       257.23
39    MN  44.854444   93.241944       824.150       251.20
40    DC  38.917500   77.020278       100.170        30.53
41    DC  38.901667   76.986667        49.510        15.09
42    DC  38.901667   76.986667        49.510        15.09
43    TX  29.756944   95.355556        20.800         6.34
44    TX  29.685000   95.407778        55.550        16.93
45    TX  29.688333   95.408611        49.160        14.98
46    MO  39.051389   94.480556       856.650       261.11
47    OH  39.097500   84.506667       489.240       149.12
48    OH  39.096667   84.508333       490.750       149.58
49    OH  39.116667   84.535278       492.430       150.09
50    OH  39.116944   84.536667       493.140       150.31
51    OH  41.511389   81.644167       643.310       196.08
52    OH  41.495833   81.685278       652.310       198.82
53    OH  41.506667   81.697222       595.410       181.48
54    CO  39.756111  104.994167      5180.260      1578.94
55    CO  39.746111  105.021667      5211.210      1588.38
56    NY  40.756944   73.845833        11.720         3.57
57    NY  40.755556   73.848056        12.450         3.79
58    WI  43.028333   87.971111       617.490       188.21
59    WI  43.030000   87.973889       602.870       183.75
60    WA  47.580000  122.298056        59.170        18.04
61    PA  39.905833   75.166389        -4.920        -1.50
62    PA  39.906667   75.171111        21.270         6.48
63    PA  39.993056   75.155833        99.350        30.28
64    GA  33.890000   84.468056       949.210       289.32
65    GA  33.735278   84.389444       941.550       286.98
66    GA  33.738889   84.388889       970.030       295.67
67    MA  42.353056   71.118889        25.770         7.85
68    MA  42.337500   71.086944         9.140         2.79
69    MI  42.339167   83.048611       602.830       183.74
70    MI  42.331944   83.068889       600.000       182.88
71    NY  40.829167   73.926389        22.170         6.76
72    NY  40.826944   73.928056        17.300         5.27
73    NY  40.840556   73.942222       164.540        50.15
74    CA  33.800278  117.882778       147.140        44.85
75    CA  33.800300  117.883000       147.220        44.87
76    TX  32.751389   97.082778       547.570       166.90
77    TX  32.756389   97.084722       557.660       169.97
78    CA  32.707222  117.156667        14.820         4.52
79    CA  32.783056  117.119444        53.300        16.25
80    MO  38.622500   90.193056       438.110       133.54
81    MO  38.623889   90.192500       464.950       141.72
82    MO  38.658056   90.220000       495.010       150.88
83    MO  38.658000   90.220000       495.720       151.10
84    MO  38.662778   90.222222       503.120       153.35
85    MD  39.283889   76.621667        17.230         5.25
86    MD  39.329444   76.601389       220.270        67.14
87    WI  43.058889   87.933889       676.900       206.32

With all coordinates and elevations collected and formatted, the next step is to determine which weather stations to collect historical data from. Tne NOAA provides access to weather stations collecting data all the way back to the 1700s (the Global Historical Climatology Network), but there are hundreds of thousands of stations and no clear indication of which stations are which, and it is thus difficult to determine which stations to collect. The cells below narrow the field of search.

In [17]:
#read .txt file detailing station details and limit stations to United States and Canada stations
all_stations = []
with open('data/ghcnd-stations.txt', 'r') as f:
    for line in f:
        if line[0:2] == 'US' or line[0:2] == 'CA':
            all_stations.append(line)

#function to format station data. Function takes a single line of .txt file as a string containing the stationID, 
#latitude, longitude, elevation, state, and location name, and returns a dictionary with each feature per line 
#corresponding to its index
def line_parser(s):
    dict_iter = {'id' : None,
                'latitude' : None,
                'longitude' : None,
                'elevation' : None,
                'state' : None,
                'name' : None}
    ident = ''
    latitude = ''
    longitude = ''
    elevation = ''
    state = ''
    name = ''
    for i in range(0, 11):
        ident += s[i]
    dict_iter['id'] = ident
    for i in range(12, 20):
        latitude += s[i]
    dict_iter['latitude'] = latitude
    for i in range(21, 30):
        longitude += s[i]
    dict_iter['longitude'] = longitude
    for i in range(31, 37):
        elevation += s[i]
    dict_iter['elevation'] = elevation
    for i in range(38, 40):
        state += s[i]
    dict_iter['state'] = state
    for i in range(41, 71):
        name += s[i]
        name = name.strip()
    dict_iter['name'] = name
    return(dict_iter)

weather_stations = []
for i in all_stations:
    station = line_parser(i)
    weather_stations.append(station)

#creates pandas dataframe from list of dictionaries, converts numeric observations read in as strings to numeric
weather_stations_df = pd.DataFrame(weather_stations)
weather_stations_df['latitude'] = pd.to_numeric(weather_stations_df['latitude'])
weather_stations_df['longitude'] = pd.to_numeric(weather_stations_df['longitude'])
weather_stations_df['elevation'] = pd.to_numeric(weather_stations_df['elevation'])
weather_stations_df['longitude'] = weather_stations_df['longitude'].apply(lambda x: (x * -1))

In [18]:
weather_stations_df

                id  latitude  longitude  elevation state                  name
0      CA001010066   48.8667   123.2833        4.0    BC            ACTIVEPASS
1      CA001010235   48.4000   123.4833       17.0    BC            ALBERTHEAD
2      CA001010595   48.5833   123.5167       85.0    BC  BAMBERTONOCEANCEMENT
3      CA001010720   48.5000   124.0000      351.0    BC             BEARCREEK
4      CA001010774   48.5000   123.3500       61.0    BC            BEAVERLAKE
...            ...       ...        ...        ...   ...                   ...
70389  USW00096405   60.4731   145.3542       25.3    AK          CORDOVA14ESE
70390  USW00096406   64.5014   154.1297       78.9    AK             RUBY44ESE
70391  USW00096407   66.5620   159.0036        6.7    AK            SELAWIK28E
70392  USW00096408   63.4519   150.8747      678.2    AK             DENALI27N
70393  USW00096409   68.6483   149.3986      750.1    AK        TOOLIKLAKE5ENE

[70394 rows x 6 columns]

In [19]:
#function to determine stations to collect data from by location. Arguments taken are the dataframe of unique 
#coordinates and state codes, dataframe of weather stations, and thresholds for distance from stadium and elevation
#difference. Function returns a dictionary of all possible stations within these thresholds for each unique coordinate
#pair
def station_locator(coordinates_df, stations_df, distance_thresh, elevation_thresh):
    stations_by_location = {}
    counter = 1
    for j in range(len(coordinates_df)):
        loc_stations = []
        possible_stations = stations_df[stations_df.state == coordinates_df.iloc[j]['state']]
        try:
            for k in range(len(possible_stations)):
                station_distance = ((possible_stations.iloc[k]['latitude'] - coordinates_df.iloc[j]['latitude']) **2 +\
                                    (possible_stations.iloc[k]['longitude'] - coordinates_df.iloc[j]['longitude']) **2)\
                                   ** 0.5
                elev_difference = abs(possible_stations.iloc[k]['elevation'] - coordinates_df.iloc[j]['elevation_m'])
                if station_distance <= distance_thresh and elev_difference <= elevation_thresh:
                    loc_stations.append([station_distance, possible_stations.iloc[k]['id']])
            sorted_stations = sorted(loc_stations, key = lambda x: x[0])
            closest_stations = [sorted_stations[l][1] for l in range(len(sorted_stations))]
            if len(closest_stations) > 50:
                closest_stations = closest_stations[0:50]
            stations_by_location['location_' + str(counter)] = closest_stations
            counter += 1
        except Exception:
            print('This location {} does not have 50 stations in the range'.format(str(j)))
            break
    return(stations_by_location)

In [20]:
#station dictionary with distance threshold chosen as 0.25 (Euclidean distance calculated using latitude/longtiude),
#and elevation threshold chosen to be within 100m of the stadium elevation.
s_l = station_locator(coordinates_w_elevation, weather_stations_df, 0.25, 100)

In [75]:
#store station names in json file
with open('data/new_stations.json', 'w') as f:
    json.dump(s_l, f)

With a dictionary of stations indexed by location, weather data will be collected and written to .csv files by passing the JSON file created to the noaa_weather_collection.py script in the repo. To do this, I created a WeatherCollector object that interacted with the NOAA FTP, collected the .dly station files, parsed them and saved them as .csv files.

While the files have been collected and stored locally, the challenge becomes that not all stations are active for all the necessary years and different stations collect different elements and may not contain observations for all the elements being sought. To overcome this, I have created a function to read in all individual station files and create a total picture of weather for the location by keeping only observations containing the most elements for each date and aggregating all the observations into one full dataframe.

In [22]:
FILE_PATH = 'data/noaa_station_csvs/'
#this function takes a file path where all station .csv files are stored as an argument and returns two lists:
#one is a list of dataframes of full weather data for each location, and a list of directories returned by the 
#glob function to ensure the order files are collected and written in
def create_full_city_weather(file_path = FILE_PATH):
    directory_list = glob.glob(file_path + '*')
    main = []
    for directory in directory_list:
        station_files = glob.glob(directory + '/*.csv')
        master = []
        for station in station_files:
            try:
                df = pd.read_csv(station, index_col = False)
                df = df.replace({-9999 : np.nan})
                df = df.dropna(axis = 1, how = 'all').dropna(axis = 0, thresh = 3)
                df['date'] = pd.to_datetime(df['date'])
                master.append(df)
            except Exception:
                print(station)
                continue
        full_frame = pd.concat(master, sort = False)
        full_frame = full_frame.assign(counts = full_frame.count(axis = 1))
        full_frame = full_frame.sort_values(['date', 'counts']).drop_duplicates('date', keep = 'last').drop('counts', axis = 1)
        full_frame = full_frame.reset_index().drop(columns = ['index'])
        main.append(full_frame)
    print('Successfully created all necessary weather files')
    return(main, directory_list)

In [23]:
m, d = create_full_city_weather()

Successfully created all necessary weather files

In [24]:
#assign latitude and longitude to city weather dataframes for merging purposes with primary dataset
for n in range(len(d)):
    value = int(d[n].split('location_')[1]) - 1
    m[n] = m[n].assign(latitude = coords_df.iloc[value]['latitude'])
    m[n] = m[n].assign(longitude = coords_df.iloc[value]['longitude'])

In [175]:
#write full .csv frames to respective directories
for l in range(len(d)):
    m[l].to_csv(d[l] + '/all_city_weather.csv')

With a full dataframe of weather for each location created, it is now time to merge the weather data with the primary dataset, the mlb_elo dataset provided by FiveThirtyEight.

In [18]:
#read in mlb_elo dataset
mlb_elo = pd.read_csv('data/mlb_elo_w_stadiums.csv', index_col = [0], low_memory = False)

In [19]:
#view info for mlb_elo dataframe
mlb_elo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 220010 entries, 0 to 220009
Data columns (total 39 columns):
date                    220010 non-null object
season                  220010 non-null int64
neutral                 220010 non-null int64
playoff                 1617 non-null object
team1                   220010 non-null object
team2                   220010 non-null object
elo1_pre                220010 non-null float64
elo2_pre                220010 non-null float64
elo_prob1               220010 non-null float64
elo_prob2               220010 non-null float64
elo1_post               220010 non-null float64
elo2_post               220010 non-null float64
rating1_pre             220010 non-null float64
rating2_pre             220010 non-null float64
pitcher1                219972 non-null object
pitcher2                219972 non-null object
pitcher1_rgs            186269 non-null float64
pitcher2_rgs            186269 non-null float64
pitcher1_adj            185588 non-null float64
pitcher2_adj            185589 non-null float64
rating_prob1            220010 non-null float64
rating_prob2            220010 non-null float64
rating1_post            220010 non-null float64
rating2_post            220010 non-null float64
score1                  220010 non-null int64
score2                  220010 non-null int64
team_code               200580 non-null object
team                    200580 non-null object
state_code              200580 non-null object
year                    200580 non-null float64
primary_stadium         200580 non-null object
primary_latitude        200580 non-null float64
primary_longitude       200580 non-null float64
secondary_stadium       5266 non-null object
secondary_latitude      5266 non-null object
secondary_longitude     5266 non-null object
attendance/game         200580 non-null object
pitching_park_factor    200580 non-null float64
batting_park_factor     200580 non-null float64
dtypes: float64(21), int64(4), object(14)
memory usage: 67.1+ MB

In [20]:
mlb_elo[(mlb_elo.season.between(1901, 1902)) & (mlb_elo.team1 == 'NYY')]

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,year,primary_stadium,primary_latitude,primary_longitude,secondary_stadium,secondary_latitude,secondary_longitude,attendance/game,pitching_park_factor,batting_park_factor
197932,1902-09-29,1902,0,NaN,NYY,BOS,1404.763,1499.646,0.399383,0.600617,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197939,1902-09-27,1902,0,NaN,NYY,BOS,1406.043,1498.366,0.402923,0.597077,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197944,1902-09-27,1902,0,NaN,NYY,BOS,1407.083,1497.326,0.405807,0.594193,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198012,1902-09-15,1902,0,NaN,NYY,MIN,1410.121,1438.396,0.493848,0.506152,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198016,1902-09-15,1902,0,NaN,NYY,MIN,1412.230,1436.287,0.499918,0.500082,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200013,1901-05-13,1901,0,NaN,NYY,OAK,1457.904,1437.734,0.563225,0.436775,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200022,1901-05-11,1901,0,NaN,NYY,OAK,1459.502,1436.136,0.567746,0.432254,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200040,1901-05-08,1901,0,NaN,NYY,MIN,1457.332,1448.139,0.547624,0.452376,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200115,1901-04-27,1901,0,NaN,NYY,BOS,1452.252,1447.748,0.540929,0.459071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200123,1901-04-26,1901,0,NaN,NYY,BOS,1450.000,1450.000,0.534484,0.465516,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#drop observations for teams that are not predecessors of active MLB teams (defunct teams before 1900)
mlb_elo = mlb_elo[mlb_elo.primary_stadium.notnull()]

In [22]:
mlb_elo[(mlb_elo.season.between(1901, 1902)) & (mlb_elo.team1 == 'NYY')]

Empty DataFrame
Columns: [date, season, neutral, playoff, team1, team2, elo1_pre, elo2_pre, elo_prob1, elo_prob2, elo1_post, elo2_post, rating1_pre, rating2_pre, pitcher1, pitcher2, pitcher1_rgs, pitcher2_rgs, pitcher1_adj, pitcher2_adj, rating_prob1, rating_prob2, rating1_post, rating2_post, score1, score2, team_code, team, state_code, year, primary_stadium, primary_latitude, primary_longitude, secondary_stadium, secondary_latitude, secondary_longitude, attendance/game, pitching_park_factor, batting_park_factor]
Index: []

[0 rows x 39 columns]

In [14]:
mlb_elo[(mlb_elo.season.between(2001, 2019)) & (mlb_elo.team1 == 'PIT')]

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,year,primary_stadium,primary_latitude,primary_longitude,secondary_stadium,secondary_latitude,secondary_longitude,attendance/game,pitching_park_factor,batting_park_factor
49,2019-09-29,2019,0,NaN,PIT,CIN,1463.388434,1481.228324,0.508864,0.491136,...,2019.0,PNC Park,40.446944,80.005833,NaN,NaN,NaN,"18,413",97.0,96.0
59,2019-09-28,2019,0,NaN,PIT,CIN,1465.328021,1479.288737,0.514444,0.485556,...,2019.0,PNC Park,40.446944,80.005833,NaN,NaN,NaN,"18,413",97.0,96.0
80,2019-09-27,2019,0,NaN,PIT,CIN,1463.934078,1480.682680,0.510434,0.489566,...,2019.0,PNC Park,40.446944,80.005833,NaN,NaN,NaN,"18,413",97.0,96.0
86,2019-09-26,2019,0,NaN,PIT,CHC,1460.878972,1528.135780,0.438068,0.561932,...,2019.0,PNC Park,40.446944,80.005833,NaN,NaN,NaN,"18,413",97.0,96.0
103,2019-09-25,2019,0,NaN,PIT,CHC,1458.685272,1530.329480,0.431861,0.568139,...,2019.0,PNC Park,40.446944,80.005833,NaN,NaN,NaN,"18,413",97.0,96.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46595,2001-04-18,2001,0,NaN,PIT,HOU,1477.890000,1514.056000,0.482499,0.517501,...,2001.0,PNC Park,40.446944,80.005833,NaN,NaN,NaN,"30,430",104.0,103.0
46619,2001-04-16,2001,0,NaN,PIT,HOU,1475.573000,1516.374000,0.475840,0.524160,...,2001.0,PNC Park,40.446944,80.005833,NaN,NaN,NaN,"30,430",104.0,103.0
46672,2001-04-12,2001,0,NaN,PIT,CIN,1483.764000,1519.289000,0.483420,0.516580,...,2001.0,PNC Park,40.446944,80.005833,NaN,NaN,NaN,"30,430",104.0,103.0
46684,2001-04-11,2001,0,NaN,PIT,CIN,1482.328000,1520.724000,0.479294,0.520706,...,2001.0,PNC Park,40.446944,80.005833,NaN,NaN,NaN,"30,430",104.0,103.0
46709,2001-04-09,2001,0,NaN,PIT,CIN,1485.487000,1517.566000,0.488375,0.511625,...,2001.0,PNC Park,40.446944,80.005833,NaN,NaN,NaN,"30,430",104.0,103.0

In [ ]:
base =

The method I will use to merge the dataframes is to isolate all observations corresponding to a certain latitude and longitude, and then merge these observations with the corresponding weather data for that location, matching on date.

In [29]:
#merge slices of dataframe, storing dataframes in a list
final_master = []
for i in range(len(d)):
    weather_merge = pd.read_csv(d[i]+'/all_city_weather.csv', index_col = [0])
    team_merge = mlb_elo[(mlb_elo.primary_latitude == weather_merge.iloc[0]['latitude']) &\
                        (mlb_elo.primary_longitude == weather_merge.iloc[0]['longitude'])]
    final_merged = team_merge.merge(weather_merge, how = 'left', left_on = ['date'], right_on = ['date'])
    final_master.append(final_merged)

In [30]:
#concatenating all lists
full_final = pd.concat(final_master, sort = False)

In [31]:
#sort final dataframe by date, reset the index, and drop the old index column
full_final = full_final.sort_values(by = ['date']).reset_index().drop(columns = ['index'])

In [32]:
full_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198286 entries, 0 to 198285
Data columns (total 57 columns):
date                    198286 non-null object
season                  198286 non-null int64
neutral                 198286 non-null int64
playoff                 1608 non-null object
team1                   198286 non-null object
team2                   198286 non-null object
elo1_pre                198286 non-null float64
elo2_pre                198286 non-null float64
elo_prob1               198286 non-null float64
elo_prob2               198286 non-null float64
elo1_post               198286 non-null float64
elo2_post               198286 non-null float64
rating1_pre             198286 non-null float64
rating2_pre             198286 non-null float64
pitcher1                198278 non-null object
pitcher2                198278 non-null object
pitcher1_rgs            184642 non-null float64
pitcher2_rgs            184642 non-null float64
pitcher1_adj            183965 non-null float64
pitcher2_adj            183966 non-null float64
rating_prob1            198286 non-null float64
rating_prob2            198286 non-null float64
rating1_post            198286 non-null float64
rating2_post            198286 non-null float64
score1                  198286 non-null int64
score2                  198286 non-null int64
team_code               198286 non-null object
team                    198286 non-null object
state_code              198286 non-null object
year                    198286 non-null float64
primary_stadium         198286 non-null object
primary_latitude        198286 non-null float64
primary_longitude       198286 non-null float64
secondary_stadium       5266 non-null object
secondary_latitude      5266 non-null object
secondary_longitude     5266 non-null object
attendance/game         198286 non-null object
pitching_park_factor    198286 non-null float64
batting_park_factor     198286 non-null float64
station_id              186262 non-null object
PRCP                    185136 non-null float64
SNOW                    162895 non-null float64
SNWD                    152780 non-null float64
TMAX                    182546 non-null float64
TMIN                    182539 non-null float64
ACSH                    37325 non-null float64
WSFG                    40612 non-null float64
WSFI                    0 non-null float64
WSFM                    18723 non-null float64
WSF1                    19416 non-null float64
AWND                    60933 non-null float64
PSUN                    19696 non-null float64
WSF2                    45532 non-null float64
WSF5                    45338 non-null float64
latitude                186262 non-null float64
longitude               186262 non-null float64
ACSC                    0 non-null float64
dtypes: float64(38), int64(4), object(15)
memory usage: 86.2+ MB

While the collection method successfully collected weather for $91.5%$ of the observations from the mlb_elo dataset, there are still over $13,000$ observations missing weather altogether and many observations that are missing several of the desired elements (primarily wind). In order to try and improve on this, I will look into which observations are missing and determine how to fill these in.

In [33]:
weather_issues = full_final[full_final.TMAX.isnull()]

In [34]:
weather_issues.team.value_counts()

Washington Senators      4162
Chicago Cubs             3957
Detroit Tigers           3151
Pittsburgh Pirates       1784
Washington Nationals     1232
Cincinnati Reds           870
Colorado Rockies          391
Chicago Orphans            77
Toronto Blue Jays          54
Seattle Mariners           42
Kansas City Royals         18
Philadelphia Phillies       1
Tampa Bay Rays              1
Name: team, dtype: int64

It is immediately apparent that 4 cities account for nearly all of the missing weather observations, and the primary offender being Washington D.C. In order to correct this, I did several things. I narrowed the field of stations to select from, which I simply did to increase efficiency as it became apparent in the first data collection effor that I was looking through too many stations. Then, I changed my metric of distance threshold from Euclidean distance to Haversine distance. I initially thought that because I was only looking to round up weather stations nearby each stadium and I was not concerned with exact location that Euclidean distance would be sufficient even though it's a meaningless metric of distance measurement when applied to latitude and longitude (Obviously I'm looking to measure spherical distance not the straight line distance between Cartesian coordinates). However, I decided to change this as I considered how to expand my station search while still ensuring that the stations are close enough to the stadium to provide accurate observations. Using Euclidean distance, I was essentially pulling a number out of a hat as my distance threshold; the actual value of the threshold has no interpretable meaning. Thus, I changed my distance metric to using the Haversine formula to calculate distance over a sphere, and thus I was able to set a radius of Kilometers around the stadium in which to search. Finally, I changed the state code of Washington D.C. stations from DC to MD, as there were many stations that fell in the 25 KM radius around the stadiums I was searching for that were indexed under the MD state code and were not appearing in my code isolating weather stations as it was searching for stations indexed under DC.

In [36]:
#create weather stations df with narrowed criterion
all_stations = []
with open('data/ghcnd-stations.txt', 'r') as f:
    for line in f:
        if line[0:4] == 'USW0' or line[0:4] == 'USC0' or line[0:2] == 'CA':
            all_stations.append(line)

weather_stations = []
for i in all_stations:
    station = line_parser(i)
    weather_stations.append(station)
    
weather_stations_df = pd.DataFrame(weather_stations)
weather_stations_df['latitude'] = pd.to_numeric(weather_stations_df['latitude'])
weather_stations_df['longitude'] = pd.to_numeric(weather_stations_df['longitude'])
weather_stations_df['elevation'] = pd.to_numeric(weather_stations_df['elevation'])

In [37]:
#function to compute haversine distance for two pairs of coordinates. Takes latitude and longitude of two locations
#in degree format as an input and returns a distance in Kilometers 
def haversine_distance(latitude_1, longitude_1, latitude_2, longitude_2):
    R = 6378.137
    h = np.arcsin( np.sqrt(np.sin( (np.radians(latitude_2) - np.radians(latitude_1))/2)**2 \
                           + np.cos(np.radians(latitude_1))*np.cos(np.radians(latitude_2))*\
                          np.sin( (np.radians(longitude_2) - np.radians(longitude_1))/2)**2))
    return(2 * R * h)

In [38]:
#station locator function used in the first sweep, only difference is changed distance metric from Euclidean to 
#Haversine
def station_locator_haversine(coordinates_df, stations_df, distance_thresh, elevation_thresh):
    stations_by_location = {}
    counter = 1
    for j in range(len(coordinates_df)):
        loc_stations = []
        possible_stations = stations_df[stations_df.state == coordinates_df.iloc[j]['state']]
        latitude_1 = coordinates_df.iloc[j]['latitude']
        longitude_1 = coordinates_df.iloc[j]['longitude']
        try:
            for k in range(len(possible_stations)):
                latitude_2 = possible_stations.iloc[k]['latitude']
                longitude_2 = possible_stations.iloc[k]['longitude']
                station_distance = haversine_distance(latitude_1, longitude_1, latitude_2, longitude_2)
                elev_difference = abs(possible_stations.iloc[k]['elevation'] - coordinates_df.iloc[j]['elevation_m'])
                if station_distance <= distance_thresh and elev_difference <= elevation_thresh:
                    loc_stations.append([station_distance, possible_stations.iloc[k]['id']])
            sorted_stations = sorted(loc_stations, key = lambda x: x[0])
            closest_stations = [sorted_stations[l][1] for l in range(len(sorted_stations))]
            if len(closest_stations) > 50:
                closest_stations = closest_stations[0:50]
            stations_by_location['location_' + str(counter)] = closest_stations
            counter += 1
        except Exception:
            print('This location {} does not have 50 stations in the range'.format(str(j)))
            break
    return(stations_by_location)

In [41]:
#converting Longitude to negative in order to be converted to radians. 
coordinates_w_elevation['longitude'] = coordinates_w_elevation['longitude'].apply(lambda x: x * -1)

In [43]:
#changed state code from DC to MD
coordinates_w_elevation = coordinates_w_elevation.replace({'DC' : 'MD'})

In [44]:
#collect stations 
d = station_locator_haversine(coordinates_w_elevation, weather_stations_df, 25, 250)

In [56]:
#determine if stations had already been collected and return a dictionary of stations still to collect
paths = glob.glob('data/noaa_station_csvs/*/')
for path in paths:
    files = glob.glob(path + '*.csv')
    key = path.split('csvs/')[1].split('/')[0]
    for file in files:
        station_id = file.split(path)[1].split('.')[0]
        if station_id not in d[key]:
            os.remove(file)
        else:
            d[key].pop(d[key].index(station_id))

In [57]:
d

{'location_1': ['USW00012842', 'USC00081632'],
 'location_2': ['USC00047765'],
 'location_3': [],
 'location_4': ['USC00365623',
  'USC00368263',
  'USC00361423',
  'USC00369103',
  'USC00366194',
  'USC00368388'],
 'location_5': ['USC00361423',
  'USC00365368',
  'USC00369103',
  'USW00014793',
  'USC00368263'],
 'location_6': [],
 'location_7': ['USW00093228'],
 'location_8': ['USC00046502'],
 'location_9': ['USC00307587'],
 'location_10': [],
 'location_11': ['USW00014810',
  'USC00117988',
  'USW00014892',
  'USW00014819',
  'USW00014855',
  'USW00094846',
  'USC00111564',
  'USC00111497',
  'USC00114814',
  'USC00112286',
  'USC00114816'],
 'location_12': ['USC00111564',
  'USC00111577',
  'USC00114814',
  'USC00112888',
  'USC00114816',
  'USC00111552',
  'USW00014810',
  'USC00111522',
  'USC00115110',
  'USC00117988'],
 'location_13': ['USC00458802',
  'USC00454169',
  'USC00450826',
  'USC00453985',
  'USC00454187'],
 'location_14': ['USW00024233',
  'USC00458802',
  'USC00454169',
  'USC00450826',
  'USC00453985',
  'USC00454187'],
 'location_15': ['USC00088775'],
 'location_16': ['USW00092811',
  'USC00087005',
  'USC00089511',
  'USC00086988',
  'USC00083168'],
 'location_17': ['USC00111542',
  'USC00114814',
  'USC00114816',
  'USC00117990',
  'USC00112888',
  'USC00115110'],
 'location_18': ['USC00111542',
  'USC00114814',
  'USC00114816',
  'USC00117990',
  'USC00112888',
  'USC00115110'],
 'location_19': ['USC00111542',
  'USC00114814',
  'USC00111537',
  'USC00114816',
  'USC00117990',
  'USC00112888',
  'USC00115110'],
 'location_20': ['USW00013751',
  'USW00013710',
  'USC00186350',
  'USC00188289',
  'USC00189035',
  'USC00188656',
  'USC00181135',
  'USC00186800',
  'USC00182585',
  'USC00181180',
  'USC00182325',
  'USC00181170',
  'USC00187615',
  'USC00188725',
  'USC00188715',
  'USC00188720',
  'USC00181995',
  'USW00013705',
  'USC00189400',
  'USC00180795',
  'USC00188300',
  'USC00187690',
  'USC00183645',
  'USC00180800',
  'USC00180705',
  'USC00180706',
  'USC00180565',
  'USC00185050',
  'USC00183860',
  'USC00181278',
  'USC00183930',
  'USC00180700',
  'USC00180701',
  'USC00180702',
  'USC00180703',
  'USC00180704',
  'USC00180714',
  'USC00182000',
  'USC00183675',
  'USC00181710',
  'USC00189187',
  'USC00189070',
  'USC00189502',
  'USC00189065'],
 'location_21': ['USC00186350',
  'USC00188656',
  'USC00189035',
  'USC00188289',
  'USW00013751',
  'USW00013710',
  'USC00182585',
  'USC00181135',
  'USC00181180',
  'USC00187615',
  'USC00189400',
  'USC00181995',
  'USC00188725',
  'USC00186800',
  'USC00188715',
  'USC00188720',
  'USW00013705',
  'USC00188300',
  'USC00181170',
  'USC00182325',
  'USC00185050',
  'USC00180705',
  'USC00180706',
  'USC00183860',
  'USC00187690',
  'USC00180795',
  'USC00180700',
  'USC00181278',
  'USC00180701',
  'USC00180702',
  'USC00180703',
  'USC00180704',
  'USC00180800',
  'USC00183675',
  'USC00180565',
  'USC00183645',
  'USC00180714',
  'USC00182000',
  'USC00189070',
  'USC00183930',
  'USC00189187',
  'USC00189502',
  'USC00181710',
  'USC00189065',
  'USC00185111'],
 'location_22': ['CA00702BL09',
  'CA1QC000023',
  'CA1QC000007',
  'CA007026073',
  'CA007026818',
  'CA007027280',
  'CA007017753'],
 'location_23': ['CA007026920', 'CA007017755'],
 'location_24': ['USC00028499',
  'USC00028494',
  'USC00026244',
  'USC00022462',
  'USC00025765',
  'USC00028598',
  'USC00026246',
  'USC00027661',
  'USC00025467',
  'USW00003192'],
 'location_25': ['USC00047950', 'USC00045781', 'USC00048092'],
 'location_26': ['USC00042655', 'USC00049660'],
 'location_27': ['USW00014786'],
 'location_28': ['USC00303786'],
 'location_29': ['USC00309466'],
 'location_30': ['USC00363061', 'USC00366111'],
 'location_31': ['USC00363061', 'USC00366111'],
 'location_32': ['USW00094823', 'USW00014809', 'USC00365918', 'USC00364276'],
 'location_33': ['USC00363061', 'USC00366111'],
 'location_34': ['CA006158401', 'CA006158691', 'CA006158D1B'],
 'location_35': [],
 'location_36': ['USC00196915',
  'USC00198218',
  'USC00195203',
  'USC00195145',
  'USC00199289',
  'USC00191323',
  'USC00190538',
  'USW00054704',
  'USC00199360',
  'USC00192530',
  'USC00194360',
  'USC00193640',
  'USC00196783',
  'USC00196004',
  'USC00193624',
  'USC00199795',
  'USC00196770',
  'USC00198960',
  'USW00014702',
  'USC00198301',
  'USC00195175',
  'USC00190535',
  'USC00195177',
  'USC00193625',
  'USC00196245',
  'USC00198755',
  'USC00194012',
  'USC00198757'],
 'location_37': ['USC00196915',
  'USC00198218',
  'USC00194162',
  'USC00195145',
  'USC00195203',
  'USC00199289',
  'USC00191323',
  'USW00054704',
  'USC00192530',
  'USC00194360',
  'USC00193624',
  'USC00199360',
  'USC00196770',
  'USC00190538',
  'USC00196004',
  'USC00193640',
  'USC00196783',
  'USC00198960',
  'USC00198301',
  'USC00199795',
  'USC00193625',
  'USC00195175',
  'USW00014702',
  'USC00195177',
  'USC00198755',
  'USC00190535',
  'USC00196245',
  'USC00198757',
  'USC00194012'],
 'location_38': ['USC00215838',
  'USC00217381',
  'USW00094960',
  'USC00217379',
  'USW00014922',
  'USW00014947',
  'USC00218477',
  'USC00218774',
  'USW00014927',
  'USC00217377',
  'USC00212130',
  'USW00094963',
  'USC00211935'],
 'location_39': ['USC00217379',
  'USC00215838',
  'USW00014947',
  'USW00094960',
  'USC00218477',
  'USW00014927',
  'USC00217377',
  'USC00218774',
  'USC00212130',
  'USW00094963'],
 'location_40': ['USC00214884',
  'USC00215424',
  'USC00218450',
  'USW00014927',
  'USC00217381',
  'USW00094963',
  'USC00217107',
  'USC00217377',
  'USC00215838',
  'USC00212737',
  'USC00217573',
  'USC00215146',
  'USC00212130',
  'USC00218477',
  'USW00094960',
  'USC00218774'],
 'location_41': ['USC00189035',
  'USC00181135',
  'USC00186350',
  'USC00181180',
  'USC00188715',
  'USC00188720',
  'USC00188725',
  'USW00013751',
  'USC00181170',
  'USC00182325',
  'USC00188300',
  'USC00187615',
  'USW00013710',
  'USC00181995',
  'USC00180795',
  'USC00187690',
  'USC00188656',
  'USC00188289',
  'USC00180800',
  'USC00189400',
  'USC00180565',
  'USC00183645',
  'USC00180705',
  'USC00180706',
  'USC00182585',
  'USC00181278',
  'USC00186800',
  'USC00183930',
  'USC00180700',
  'USC00180701',
  'USC00180702',
  'USC00180703',
  'USC00180704',
  'USC00183860',
  'USC00189187',
  'USC00185050',
  'USC00180714',
  'USC00182000',
  'USC00189502',
  'USW00013705',
  'USC00183675',
  'USC00185111',
  'USC00183850',
  'USC00183855',
  'USC00189070',
  'USC00187705',
  'USC00187272'],
 'location_42': ['USC00186350',
  'USC00189035',
  'USC00181135',
  'USW00013751',
  'USC00188656',
  'USC00181180',
  'USW00013710',
  'USC00188289',
  'USC00187615',
  'USC00188725',
  'USC00188715',
  'USC00188720',
  'USC00182585',
  'USC00181995',
  'USC00189400',
  'USC00181170',
  'USC00188300',
  'USC00182325',
  'USC00186800',
  'USC00187690',
  'USC00180705',
  'USC00180706',
  'USC00180795',
  'USC00185050',
  'USW00013705',
  'USC00183860',
  'USC00181278',
  'USC00180800',
  'USC00180700',
  'USC00180701',
  'USC00180702',
  'USC00180703',
  'USC00180704',
  'USC00180565',
  'USC00183645',
  'USC00180714',
  'USC00182000',
  'USC00183930',
  'USC00183675',
  'USC00189187',
  'USC00189502',
  'USC00189070',
  'USC00185111',
  'USC00189065',
  'USC00181710'],
 'location_43': ['USC00186350',
  'USC00189035',
  'USC00181135',
  'USW00013751',
  'USC00188656',
  'USC00181180',
  'USW00013710',
  'USC00188289',
  'USC00187615',
  'USC00188725',
  'USC00188715',
  'USC00188720',
  'USC00182585',
  'USC00181995',
  'USC00189400',
  'USC00181170',
  'USC00188300',
  'USC00182325',
  'USC00186800',
  'USC00187690',
  'USC00180705',
  'USC00180706',
  'USC00180795',
  'USC00185050',
  'USW00013705',
  'USC00183860',
  'USC00181278',
  'USC00180800',
  'USC00180700',
  'USC00180701',
  'USC00180702',
  'USC00180703',
  'USC00180704',
  'USC00180565',
  'USC00183645',
  'USC00180714',
  'USC00182000',
  'USC00183930',
  'USC00183675',
  'USC00189187',
  'USC00189502',
  'USC00189070',
  'USC00185111',
  'USC00189065',
  'USC00181710'],
 'location_44': ['USC00414311'],
 'location_45': ['USC00414327', 'USW00012975', 'USW00012906', 'USC00414309'],
 'location_46': ['USC00414309', 'USW00012906', 'USW00012975'],
 'location_47': [],
 'location_48': ['USC00331220', 'USC00335610', 'USC00336537', 'USC00335908'],
 'location_49': ['USC00331220', 'USC00335610', 'USC00336537', 'USC00335908'],
 'location_50': ['USC00335268', 'USC00331220'],
 'location_51': ['USC00335268', 'USC00331220'],
 'location_52': ['USC00339190'],
 'location_53': [],
 'location_54': [],
 'location_55': ['USC00052557',
  'USW00023012',
  'USW00023062',
  'USC00058995',
  'USC00054762',
  'USC00055056',
  'USC00055984',
  'USC00055402',
  'USC00051547',
  'USW00023036',
  'USW00093032',
  'USC00056816',
  'USW00093067',
  'USC00052212',
  'USC00050950'],
 'location_56': ['USC00052228',
  'USC00054762',
  'USC00058995',
  'USW00023012',
  'USW00023062',
  'USC00055056',
  'USC00055402',
  'USC00055984',
  'USC00056816',
  'USC00051547',
  'USC00055805',
  'USW00023036',
  'USW00093032',
  'USW00093067'],
 'location_57': ['USC00303042', 'USC00306138'],
 'location_58': ['USC00306138', 'USC00303042'],
 'location_59': ['USC00478937', 'USC00475315'],
 'location_60': ['USC00478937', 'USC00475315'],
 'location_61': ['USC00457459',
  'USC00454169',
  'USC00453985',
  'USC00458802',
  'USC00450826'],
 'location_62': ['USC00365390'],
 'location_63': ['USC00365390'],
 'location_64': ['USC00369191', 'USC00365623', 'USC00361423', 'USC00366194'],
 'location_65': ['USC00092753',
  'USC00090446',
  'USC00095290',
  'USC00096407',
  'USC00099524'],
 'location_66': ['USC00095404', 'USC00094700', 'USW00013864'],
 'location_67': ['USC00095404', 'USW00013864', 'USC00094700', 'USC00092753'],
 'location_68': ['USC00196915',
  'USC00198218',
  'USC00195203',
  'USC00199360',
  'USC00190538',
  'USC00191323',
  'USC00195145',
  'USC00193640',
  'USC00199289',
  'USC00199795',
  'USW00054704',
  'USC00196783',
  'USW00014702',
  'USC00198960',
  'USC00194360',
  'USC00190535',
  'USC00196004',
  'USC00192530',
  'USC00195175',
  'USC00195177',
  'USC00196770',
  'USC00198301',
  'USC00193624',
  'USC00194012',
  'USC00198755',
  'USC00196245',
  'USC00191622',
  'USC00198757'],
 'location_69': ['USC00196915',
  'USC00198218',
  'USC00194162',
  'USC00195145',
  'USC00195203',
  'USC00199289',
  'USC00191323',
  'USW00054704',
  'USC00192530',
  'USC00193624',
  'USC00194360',
  'USC00196770',
  'USC00196004',
  'USC00199360',
  'USC00190538',
  'USC00193640',
  'USC00196783',
  'USC00198301',
  'USC00198960',
  'USC00193625',
  'USC00199795',
  'USC00195175',
  'USW00014702',
  'USC00195177',
  'USC00198755',
  'USC00190535',
  'USC00196245',
  'USC00198757',
  'USW00014790'],
 'location_70': ['USC00205805'],
 'location_71': ['USC00208725', 'USW00094847'],
 'location_72': ['USC00307587', 'USC00307282'],
 'location_73': ['USC00307587'],
 'location_74': ['USC00307587'],
 'location_75': ['USC00049431', 'USC00042432', 'USC00047123', 'USW00023129'],
 'location_76': ['USC00049431', 'USC00042432', 'USC00047123', 'USW00023129'],
 'location_77': ['USW00003971',
  'USC00413285',
  'USC00413286',
  'USW00013960',
  'USC00412243'],
 'location_78': ['USC00413285',
  'USW00003971',
  'USC00411081',
  'USC00413286',
  'USW00013960',
  'USC00412243'],
 'location_79': ['USW00023196',
  'USC00043410',
  'USW00003178',
  'USC00045162',
  'USC00042706',
  'USC00042705'],
 'location_80': ['USC00042706',
  'USC00042705',
  'USC00044710',
  'USC00044711',
  'USC00042350'],
 'location_81': [],
 'location_82': [],
 'location_83': [],
 'location_84': [],
 'location_85': [],
 'location_86': ['USC00187435',
  'USC00189750',
  'USC00182875',
  'USC00187070',
  'USC00181693',
  'USC00181960'],
 'location_87': ['USC00181693',
  'USC00187070',
  'USC00187435',
  'USC00189750',
  'USC00183715',
  'USC00189314',
  'USC00182795',
  'USC00182875'],
 'location_88': ['USC00475315']}

In [58]:
#save stations to be collected as a .json
with open('data/federal_stations.json', 'w') as f:
    json.dump(d, f)

In [59]:
#return longitude to postive value before appending to dataframe created below
coordinates_w_elevation['longitude'] = coordinates_w_elevation['longitude'].apply(lambda x: x * -1)

After passing the new dictionary to the WeatherCollector and collecting data for those stations, I followed the same format as used previously to create a single .csv file with weather for each location.

In [78]:
m, d = create_full_city_weather()
#assign latitude and longitude to city weather dataframes for merging purposes with primary dataset
for n in range(len(d)):
    value = int(d[n].split('location_')[1]) - 1
    m[n] = m[n].assign(latitude = coordinates_df.iloc[value]['latitude'])
    m[n] = m[n].assign(longitude = coordinates_df.iloc[value]['longitude'])

In [63]:
#write full .csv frames to respective directories
for l in range(len(d)):
    m[l].to_csv(d[l] + '/all_city_weather.csv')

In [76]:
#merge slices of dataframe, storing dataframes in a list
final_master = []
for i in range(len(d)):
    weather_merge = pd.read_csv(d[i]+'/all_city_weather.csv', index_col = [0])
    team_merge = mlb_elo[(mlb_elo.primary_latitude == weather_merge.iloc[0]['latitude']) &\
                        (mlb_elo.primary_longitude == weather_merge.iloc[0]['longitude'])]
    final_merged = team_merge.merge(weather_merge, how = 'left', left_on = ['date'], right_on = ['date'])
    final_master.append(final_merged)  
    
full_final = pd.concat(final_master, sort = False)
full_final = full_final.sort_values(by = ['date']).reset_index().drop(columns = ['index'])

In [77]:
full_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198286 entries, 0 to 198285
Data columns (total 57 columns):
date                    198286 non-null object
season                  198286 non-null int64
neutral                 198286 non-null int64
playoff                 1608 non-null object
team1                   198286 non-null object
team2                   198286 non-null object
elo1_pre                198286 non-null float64
elo2_pre                198286 non-null float64
elo_prob1               198286 non-null float64
elo_prob2               198286 non-null float64
elo1_post               198286 non-null float64
elo2_post               198286 non-null float64
rating1_pre             198286 non-null float64
rating2_pre             198286 non-null float64
pitcher1                198278 non-null object
pitcher2                198278 non-null object
pitcher1_rgs            184642 non-null float64
pitcher2_rgs            184642 non-null float64
pitcher1_adj            183965 non-null float64
pitcher2_adj            183966 non-null float64
rating_prob1            198286 non-null float64
rating_prob2            198286 non-null float64
rating1_post            198286 non-null float64
rating2_post            198286 non-null float64
score1                  198286 non-null int64
score2                  198286 non-null int64
team_code               198286 non-null object
team                    198286 non-null object
state_code              198286 non-null object
year                    198286 non-null float64
primary_stadium         198286 non-null object
primary_latitude        198286 non-null float64
primary_longitude       198286 non-null float64
secondary_stadium       5266 non-null object
secondary_latitude      5266 non-null object
secondary_longitude     5266 non-null object
attendance/game         198286 non-null object
pitching_park_factor    198286 non-null float64
batting_park_factor     198286 non-null float64
station_id              198171 non-null object
TMAX                    197935 non-null float64
TMIN                    197913 non-null float64
PRCP                    197940 non-null float64
SNOW                    174009 non-null float64
SNWD                    167573 non-null float64
ACSH                    49487 non-null float64
WSFG                    54495 non-null float64
WSFI                    14 non-null float64
WSFM                    21239 non-null float64
WSF1                    25322 non-null float64
AWND                    71943 non-null float64
PSUN                    23698 non-null float64
WSF2                    50759 non-null float64
WSF5                    50440 non-null float64
latitude                198171 non-null float64
longitude               198171 non-null float64
ACSC                    1 non-null float64
dtypes: float64(38), int64(4), object(15)
memory usage: 86.2+ MB

In [79]:
full_final.to_csv('data/mlb_final.csv')

The result shows that this method was successful, and now the dataframe has weather observations for $99.8$ percent of observations and it is time to being EDA and modeling.