# Retrosheet Gamelog Data

After collecting weather data, I realized that weather data is not meaningful without knowing the time the game was played. The retrosheet_collector.py script collects all of the data and writes it to a dataframe, but Retrosheet and FiveThirtyEight do not use the same team codes, so merging the dataframes together required some additional work to create common keys.

In [1]:
import requests
import pandas as pd
import numpy as np
import json

In [2]:
#retrieve metadata from Retrosheet site to parse in gamelogs
dot_txt = requests.get('https://www.retrosheet.org/gamelogs/glfields.txt')
dot_txt = dot_txt.content.decode('utf-8')
with open('retrograde_meta.txt', 'w') as f:
    f.writelines(dot_txt)

In [2]:
#retrieve meta data for Retrosheet team codes
page = requests.get('https://www.retrosheet.org/TEAMABR.TXT')
string = page.content
string = string.decode('utf-8')

In [38]:
#write data to .csv file
with open('data/retrograde_team_codes.csv', 'w') as f:
    f.write('team_code,league,city,team_name,year_1,year_2')
    f.write('\n')
    f.writelines(string)

In [42]:
#retrieve meta data for Retrosheet park codes
park_page = requests.get('https://www.retrosheet.org/parkcode.txt')
park_string = park_page.content.decode('utf-8')

In [43]:
#write data to .csv file
with open('retrograde_park_codes.csv', 'w') as f:
    f.writelines(park_string)

In [3]:
park_codes = pd.read_csv('data/retrograde_park_codes.csv')

In [12]:
park_codes

,PARKID,NAME,AKA,CITY,STATE,START,END,LEAGUE,NOTES
0,ALB01,Riverside Park,NaN,Albany,NY,09/11/1880,05/30/1882,NL,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,NaN,Altoona,PA,04/30/1884,05/31/1884,UA,NaN
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,04/19/1966,NaN,AL,NaN
3,ARL01,Arlington Stadium,NaN,Arlington,TX,04/21/1972,10/03/1993,AL,NaN
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,04/11/1994,NaN,AL,NaN
...,...,...,...,...,...,...,...,...,...
247,WIL02,BB&T Ballpark at Bowman Field,NaN,Williamsport,PA,08/20/2017,08/20/2017,NL,PIT
248,WNY01,West New York Field Club Grounds,NaN,West New York,NJ,09/11/1898,09/17/1899,NL,"BRO:9/18&10/2/1898; NY1:9/11/98, 6/4&7/16&8/13..."
249,WOR01,Agricultural County Fair Grounds I,NaN,Worcester,MA,05/01/1880,09/29/1882,NL,NaN
250,WOR02,Agricultural County Fair Grounds II,NaN,Worcester,MA,08/17/1887,08/17/1887,NL,1 BSN game
251,WOR03,Worcester Driving Park Grounds,NaN,Worcester,MA,10/30/1874,10/30/1874,NaN,1 BS1 game

In [13]:
#drop unecessary columns
park_codes = park_codes.drop(columns = ['START', 'END', 'LEAGUE', 'NOTES'])

In [4]:
#read in stadium data from baseball-reference.com
stadiums_ = pd.read_csv('data/complete_stadiums.csv', index_col = [0])

In [16]:
stadiums_.head()

,team_code,team,state_code,year,primary_stadium,primary_latitude,primary_longitude,secondary_stadium,secondary_latitude,secondary_longitude,attendance/game,pitching_park_factor,batting_park_factor
0,TBD,Tampa Bay Rays,FL,2019,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"14,552",96,97
1,TBD,Tampa Bay Rays,FL,2018,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"14,259",96,97
2,TBD,Tampa Bay Rays,FL,2017,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"15,477",96,96
3,TBD,Tampa Bay Rays,FL,2016,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"15,879",95,95
4,TBD,Tampa Bay Rays,FL,2015,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"15,322",97,96

In [17]:
all_stadiums_ = stadiums_.primary_stadium.unique()

In [30]:
coordinates_list = []
for stadium in all_stadiums_:
    dict_iter = {'stadium_name' : stadium,
                'lat' : None,
                'lon' : None,
                'state_code' : None}
    dict_iter['lat'] = stadiums_[stadiums_.primary_stadium == stadium].primary_latitude.value_counts().idxmax()
    dict_iter['lon'] = stadiums_[stadiums_.primary_stadium == stadium].primary_longitude.value_counts().idxmax()
    dict_iter['state_code'] = stadiums_[stadiums_.primary_stadium == stadium].state_code.value_counts().idxmax()
    coordinates_list.append(dict_iter)

In [31]:
unique_stadiums_df = pd.DataFrame(coordinates_list)

In [32]:
unique_stadiums_df.head()

                      stadium_name        lat         lon state_code
0                  Tropicana Field  27.768333   82.653333         FL
1  Oakland-Alameda County Coliseum  37.751667  122.200556         CA
2                    O.co Coliseum  37.751667  122.200556         CA
3                  McAfee Coliseum  37.751667  122.200556         CA
4      Network Associates Coliseum  37.751667  122.200556         CA

In [22]:
park_codes.head()

,PARKID,NAME,AKA,CITY,STATE
0,ALB01,Riverside Park,NaN,Albany,NY
1,ALT01,Columbia Park,NaN,Altoona,PA
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA
3,ARL01,Arlington Stadium,NaN,Arlington,TX
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX

In [34]:
park_ids = []
for j in range(len(park_codes)):
    dict_iter = {'state_code' : park_codes.iloc[j]['STATE']}
    park_id = park_codes.iloc[j]['PARKID']
    stadiums = [park_codes.iloc[j]['NAME']]
    if type(park_codes.iloc[j]['AKA']) == str and ';' in park_codes.iloc[j]['AKA']:
        other_names = park_codes.iloc[j]['AKA'].split(';')
        stadiums += other_names
    elif type(park_codes.iloc[j]['AKA']) == str and ';' not in park_codes.iloc[j]['AKA']:
        stadiums.append(park_codes.iloc[j]['AKA'])
    else:
        pass
    for k in range(len(stadiums)):
        dict_iter[stadiums[k]] = park_id
    park_ids.append(dict_iter)

In [37]:
unique_stadiums_df.head()

                      stadium_name        lat         lon state_code  park_id
0                  Tropicana Field  27.768333   82.653333         FL      NaN
1  Oakland-Alameda County Coliseum  37.751667  122.200556         CA      NaN
2                    O.co Coliseum  37.751667  122.200556         CA      NaN
3                  McAfee Coliseum  37.751667  122.200556         CA      NaN
4      Network Associates Coliseum  37.751667  122.200556         CA      NaN

In [38]:
park_codes.head()

,PARKID,NAME,AKA,CITY,STATE
0,ALB01,Riverside Park,NaN,Albany,NY
1,ALT01,Columbia Park,NaN,Altoona,PA
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA
3,ARL01,Arlington Stadium,NaN,Arlington,TX
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX

In [57]:
issue_stadiums = []
for j in range(len(unique_stadiums_df)):
    stad = unique_stadiums_df.iloc[j]['stadium_name']
    try:
        park_id = park_codes[park_codes.NAME == stad].PARKID.value_counts().idxmax()
    except:
        issue_stadiums.append(stad)
        continue
    unique_stadiums_df.at[j, unique_stadiums_df.columns.get_loc('park_id')] = park_id

In [60]:
unique_stadiums_df = unique_stadiums_df.drop(columns = ['park_id'])
unique_stadiums_df.columns = ['stadium_name', 'lat', 'lon', 'state_code', 'park_id']

In [61]:
unique_stadiums_df

,stadium_name,lat,lon,state_code,park_id
0,Tropicana Field,27.768333,82.653333,FL,STP01
1,Oakland-Alameda County Coliseum,37.751667,122.200556,CA,OAK01
2,O.co Coliseum,37.751667,122.200556,CA,NaN
3,McAfee Coliseum,37.751667,122.200556,CA,NaN
4,Network Associates Coliseum,37.751667,122.200556,CA,NaN
5,Municipal Stadium,39.086000,94.555000,MO,KAN05
6,Connie Mack Stadium,39.996111,75.165000,PA,NaN
7,Shibe Park,39.996111,75.165000,PA,PHI11
8,Columbia Park,39.981111,75.182778,PA,ALT01
9,Oracle Park,37.778611,122.389167,CA,NaN
10,AT&T; Park,37.778611,122.389167,CA,NaN
11,SBC Park,37.778611,122.389167,CA,NaN
12,Pacific Bell Park,37.778611,122.389167,CA,NaN
13,3Com Park,37.713611,122.386111,CA,NaN
14,Candlestick Park,37.713611,122.386111,CA,SFO02
15,Seals Stadium,37.766667,122.409167,CA,SFO01
16,Polo Grounds V,40.830833,73.937500,NY,NYC14
17,Polo Grounds IV,40.798056,73.950278,NY,NYC10
18,Wrigley Field,41.948056,87.655556,IL,LOS02
19,Cubs Park,41.948056,87.655556,IL,NaN
20,Weeghman Park,41.948056,87.655556,IL,NaN
21,West Side Grounds,41.870278,87.672500,IL,CHI08
22,T-Mobile Park,47.591111,122.333056,WA,NaN
23,Safeco Field,47.591111,122.333056,WA,SEA03
24,Kingdome,47.595278,122.331389,WA,SEA02
25,Marlins Park,25.778056,80.219722,FL,MIA02
26,Sun Life Stadium,25.958056,80.238889,FL,MIA01
27,Land Shark Stadium,25.958056,80.238889,FL,NaN
28,Dolphin Stadium,25.958056,80.238889,FL,NaN
29,Dolphins Stadium,25.958056,80.238889,FL,NaN
30,Pro Player Stadium,25.958056,80.238889,FL,NaN
31,Joe Robbie Stadium,25.958056,80.238889,FL,NaN
32,Guaranteed Rate Field,41.830000,87.633889,IL,NaN
33,U.S. Cellular Field,41.830000,87.633889,IL,NaN
34,Comiskey Park II,41.830000,87.633889,IL,NaN
35,Comiskey Park I,41.831944,87.633889,IL,CHI10
36,White Sox Park,41.831944,87.633889,IL,NaN
37,South Side Park III,41.824444,87.632778,IL,CHI09
38,Nationals Park,38.872778,77.007500,D.C.,WAS11
39,Robert F. Kennedy Stadium,38.890000,76.971944,D.C.,WAS10
40,Stade Olympique,45.558056,73.551944,CANADA,MON02
41,Parc Jarry,45.535000,73.628333,CANADA,MON01
42,Chase Field,33.445278,112.066944,AZ,PHO01
43,Bank One Ballpark,33.445278,112.066944,AZ,NaN
44,Dodger Stadium,34.073611,118.240000,CA,LOS03
45,Los Angeles Memorial Coliseum,34.014167,118.287778,CA,LOS01
46,Roosevelt Stadium,40.706389,74.105000,NY,JER02
47,Ebbets Field,40.665000,73.958056,NY,NYC15
48,Washington Park III,40.673900,73.985600,NY,NYC12
49,PNC Park,40.446944,80.005833,PA,PIT08
50,Three Rivers Stadium,40.446667,80.012778,PA,PIT07
51,Forbes Field,40.441944,79.954167,PA,PIT06
52,Exposition Park III,40.446944,80.010833,PA,PIT05
53,Rogers Centre,43.641389,79.389167,CANADA,TOR02
54,SkyDome,43.641389,79.389167,CANADA,NaN
55,Exhibition Stadium,43.631944,79.417778,CANADA,TOR01
56,Fenway Park,42.346111,71.097500,MA,BOS07
57,Huntington Avenue Baseball Grounds,42.338889,71.088889,MA,BOS06
58,Target Field,44.981667,93.278333,MN,MIN04
59,Hubert H. Humphrey Metrodome,44.973889,93.258056,MN,MIN03
60,Metropolitan Stadium,44.854444,93.241944,MN,MIN02
61,Griffith Stadium,38.917500,77.020278,D.C.,WAS09
62,American League Park II,38.901667,76.986667,D.C.,WAS08
63,American League Park I,38.901667,76.986667,D.C.,WAS07
64,Minute Maid Park,29.756944,95.355556,TX,HOU03
65,Enron Field,29.756944,95.355556,TX,NaN
66,Astrodome,29.685000,95.407778,TX,HOU02
67,Colt Stadium,29.688333,95.408611,TX,HOU01
68,Kauffman Stadium,39.051389,94.480556,MO,KAN06
69,Royals Stadium,39.051389,94.480556,MO,NaN
70,Great American Ball Park,39.097500,84.506667,OH,NaN
71,Cinergy Field,39.096667,84.508333,OH,CIN08
72,Riverfront Stadium,39.096667,84.508333,OH,NaN
73,Crosley Field,39.116667,84.535278,OH,CIN07
74,Redland Field,39.116667,84.535278,OH,NaN
75,Palace of the Fans,39.116944,84.536667,OH,CIN06
76,League Park II,41.511389,81.644167,OH,CIN05
77,Progressive Field,41.495833,81.685278,OH,CLE08
78,Jacobs Field,41.495833,81.685278,OH,NaN
79,Cleveland Stadium,41.506667,81.697222,OH,CLE07
80,Dunn Field,41.511389,81.644167,OH,NaN
81,League Park,41.511389,81.644167,OH,TOL01
82,League Park I,41.511389,81.644167,OH,CIN04
83,Coors Field,39.756111,104.994167,CO,DEN02
84,Mile High Stadium,39.746111,105.021667,CO,DEN01
85,Citi Field,40.756944,73.845833,NY,NYC20
86,Shea Stadium,40.755556,73.848056,NY,NYC17
87,Miller Park,43.028333,87.971111,WI,MIL06
88,County Stadium,43.030000,87.973889,WI,MIL05
89,Sick's Stadium,47.580000,122.298056,WA,SEA01
90,Citizens Bank Park,39.905833,75.166389,PA,PHI13
91,Veterans Stadium,39.906667,75.171111,PA,PHI12
92,Baker Bowl,39.993056,75.155833,PA,PHI09
93,SunTrust Park,33.890000,84.468056,GA,NaN
94,Turner Field,33.735278,84.389444,GA,ATL02
95,Atlanta-Fulton County Stadium,33.738889,84.388889,GA,ATL01
96,Atlanta Stadium,33.738889,84.388889,GA,NaN
97,Braves Field,42.353056,71.118889,MA,BOS08
98,South End Grounds III,42.337500,71.086944,MA,BOS05
99,Comerica Park,42.339167,83.048611,MI,DET05
100,Tiger Stadium,42.331944,83.068889,MI,DET04
101,Briggs Stadium,42.331944,83.068889,MI,NaN
102,Navin Field,42.331944,83.068889,MI,NaN
103,Bennett Park,42.331944,83.068889,MI,DET02
104,Yankee Stadium III,40.829167,73.926389,NY,NaN
105,Yankee Stadium II,40.829167,73.926389,NY,NYC21
106,Yankee Stadium IIx,40.829167,73.926389,NY,NaN
107,Yankee Stadium I,40.826944,73.928056,NY,NYC16
108,Hilltop Park,40.840556,73.942222,NY,NYC13
109,Angel Stadium of Anaheim,33.800278,117.882778,CA,ANA01
110,Edison Field,33.800300,117.883000,CA,NaN
111,Anaheim Stadium,33.800278,117.882778,CA,NaN
112,Globe Life Park in Arlington,32.751389,97.082778,TX,NaN
113,Rangers Ballpark in Arlington,32.751389,97.082778,TX,ARL02
114,Ameriquest Field,32.751389,97.082778,TX,NaN
115,The Ballpark in Arlington,32.751389,97.082778,TX,NaN
116,Arlington Stadium,32.756389,97.084722,TX,ARL01
117,D.C. Stadium,38.890000,76.971944,D.C.,NaN
118,Petco Park,32.707222,117.156667,CA,NaN
119,Qualcomm Stadium,32.783056,117.119444,CA,SAN01
120,Jack Murphy Stadium,32.783056,117.119444,CA,NaN
121,San Diego Stadium,32.783056,117.119444,CA,NaN
122,Busch Stadium III,38.622500,90.193056,MO,STL10
123,Busch Stadium II,38.623889,90.192500,MO,STL09
124,Busch Stadium I,38.658056,90.220000,MO,NaN
125,Sportsman's Park III,38.658000,90.220000,MO,STL07
126,Robison Field,38.662778,90.222222,MO,STL05
127,Oriole Park at Camden Yards,39.283889,76.621667,MD,BAL12
128,Memorial Stadium,39.329444,76.601389,MD,BAL11
129,Sportsman's Park II,38.658000,90.220000,MO,STL06
130,Lloyd Street Grounds,43.058889,87.933889,WI,MIL04

In [69]:
for k in range(1, len(unique_stadiums_df) - 1):
    if type(unique_stadiums_df.iloc[k]['park_id']) != str and \
    unique_stadiums_df.iloc[k]['lat'] == unique_stadiums_df.iloc[k-1]['lat'] and \
    unique_stadiums_df.iloc[k]['lon'] == unique_stadiums_df.iloc[k-1]['lon']:
        unique_stadiums_df.at[k, 'park_id'] = unique_stadiums_df.iloc[k-1]['park_id']
    elif type(unique_stadiums_df.iloc[k]['park_id']) != str and \
    unique_stadiums_df.iloc[k]['lat'] == unique_stadiums_df.iloc[k+1]['lat'] and \
    unique_stadiums_df.iloc[k]['lon'] == unique_stadiums_df.iloc[k+1]['lon']:
        unique_stadiums_df.at[k, 'park_id'] = unique_stadiums_df.iloc[k+1]['park_id']
    else:
        continue

In [71]:
unique_stadiums_df[unique_stadiums_df.park_id.isnull()]

                 stadium_name        lat         lon state_code park_id
9                 Oracle Park  37.778611  122.389167         CA     NaN
10                 AT&T; Park  37.778611  122.389167         CA     NaN
11                   SBC Park  37.778611  122.389167         CA     NaN
12          Pacific Bell Park  37.778611  122.389167         CA     NaN
32      Guaranteed Rate Field  41.830000   87.633889         IL     NaN
33        U.S. Cellular Field  41.830000   87.633889         IL     NaN
34           Comiskey Park II  41.830000   87.633889         IL     NaN
70   Great American Ball Park  39.097500   84.506667         OH     NaN
93              SunTrust Park  33.890000   84.468056         GA     NaN
110              Edison Field  33.800300  117.883000         CA     NaN
111           Anaheim Stadium  33.800278  117.882778         CA     NaN
117              D.C. Stadium  38.890000   76.971944       D.C.     NaN
118                Petco Park  32.707222  117.156667         CA     NaN
124           Busch Stadium I  38.658056   90.220000         MO     NaN

In [72]:
for k in range(9, 13):
    unique_stadiums_df.at[k, 'park_id'] = 'SFO03'
for k in range(32, 35):
    unique_stadiums_df.at[k, 'park_id'] = 'CHI12'
unique_stadiums_df.at[70, 'park_id'] = 'CIN09'
unique_stadiums_df.at[93, 'park_id'] = 'ATL03'
for k in range(110, 112):
    unique_stadiums_df.at[k, 'park_id'] = 'ANA01'
unique_stadiums_df.at[117, 'park_id'] = 'WAS10'
unique_stadiums_df.at[118, 'park_id'] = 'SAN02'
unique_stadiums_df.at[124, 'park_id'] = 'STL07'

In [74]:
unique_stadiums_df

,stadium_name,lat,lon,state_code,park_id
0,Tropicana Field,27.768333,82.653333,FL,STP01
1,Oakland-Alameda County Coliseum,37.751667,122.200556,CA,OAK01
2,O.co Coliseum,37.751667,122.200556,CA,OAK01
3,McAfee Coliseum,37.751667,122.200556,CA,OAK01
4,Network Associates Coliseum,37.751667,122.200556,CA,OAK01
5,Municipal Stadium,39.086000,94.555000,MO,KAN05
6,Connie Mack Stadium,39.996111,75.165000,PA,PHI11
7,Shibe Park,39.996111,75.165000,PA,PHI11
8,Columbia Park,39.981111,75.182778,PA,ALT01
9,Oracle Park,37.778611,122.389167,CA,SFO03
10,AT&T; Park,37.778611,122.389167,CA,SFO03
11,SBC Park,37.778611,122.389167,CA,SFO03
12,Pacific Bell Park,37.778611,122.389167,CA,SFO03
13,3Com Park,37.713611,122.386111,CA,SFO02
14,Candlestick Park,37.713611,122.386111,CA,SFO02
15,Seals Stadium,37.766667,122.409167,CA,SFO01
16,Polo Grounds V,40.830833,73.937500,NY,NYC14
17,Polo Grounds IV,40.798056,73.950278,NY,NYC10
18,Wrigley Field,41.948056,87.655556,IL,LOS02
19,Cubs Park,41.948056,87.655556,IL,LOS02
20,Weeghman Park,41.948056,87.655556,IL,LOS02
21,West Side Grounds,41.870278,87.672500,IL,CHI08
22,T-Mobile Park,47.591111,122.333056,WA,SEA03
23,Safeco Field,47.591111,122.333056,WA,SEA03
24,Kingdome,47.595278,122.331389,WA,SEA02
25,Marlins Park,25.778056,80.219722,FL,MIA02
26,Sun Life Stadium,25.958056,80.238889,FL,MIA01
27,Land Shark Stadium,25.958056,80.238889,FL,MIA01
28,Dolphin Stadium,25.958056,80.238889,FL,MIA01
29,Dolphins Stadium,25.958056,80.238889,FL,MIA01
30,Pro Player Stadium,25.958056,80.238889,FL,MIA01
31,Joe Robbie Stadium,25.958056,80.238889,FL,MIA01
32,Guaranteed Rate Field,41.830000,87.633889,IL,CHI12
33,U.S. Cellular Field,41.830000,87.633889,IL,CHI12
34,Comiskey Park II,41.830000,87.633889,IL,CHI12
35,Comiskey Park I,41.831944,87.633889,IL,CHI10
36,White Sox Park,41.831944,87.633889,IL,CHI10
37,South Side Park III,41.824444,87.632778,IL,CHI09
38,Nationals Park,38.872778,77.007500,D.C.,WAS11
39,Robert F. Kennedy Stadium,38.890000,76.971944,D.C.,WAS10
40,Stade Olympique,45.558056,73.551944,CANADA,MON02
41,Parc Jarry,45.535000,73.628333,CANADA,MON01
42,Chase Field,33.445278,112.066944,AZ,PHO01
43,Bank One Ballpark,33.445278,112.066944,AZ,PHO01
44,Dodger Stadium,34.073611,118.240000,CA,LOS03
45,Los Angeles Memorial Coliseum,34.014167,118.287778,CA,LOS01
46,Roosevelt Stadium,40.706389,74.105000,NY,JER02
47,Ebbets Field,40.665000,73.958056,NY,NYC15
48,Washington Park III,40.673900,73.985600,NY,NYC12
49,PNC Park,40.446944,80.005833,PA,PIT08
50,Three Rivers Stadium,40.446667,80.012778,PA,PIT07
51,Forbes Field,40.441944,79.954167,PA,PIT06
52,Exposition Park III,40.446944,80.010833,PA,PIT05
53,Rogers Centre,43.641389,79.389167,CANADA,TOR02
54,SkyDome,43.641389,79.389167,CANADA,TOR02
55,Exhibition Stadium,43.631944,79.417778,CANADA,TOR01
56,Fenway Park,42.346111,71.097500,MA,BOS07
57,Huntington Avenue Baseball Grounds,42.338889,71.088889,MA,BOS06
58,Target Field,44.981667,93.278333,MN,MIN04
59,Hubert H. Humphrey Metrodome,44.973889,93.258056,MN,MIN03
60,Metropolitan Stadium,44.854444,93.241944,MN,MIN02
61,Griffith Stadium,38.917500,77.020278,D.C.,WAS09
62,American League Park II,38.901667,76.986667,D.C.,WAS08
63,American League Park I,38.901667,76.986667,D.C.,WAS07
64,Minute Maid Park,29.756944,95.355556,TX,HOU03
65,Enron Field,29.756944,95.355556,TX,HOU03
66,Astrodome,29.685000,95.407778,TX,HOU02
67,Colt Stadium,29.688333,95.408611,TX,HOU01
68,Kauffman Stadium,39.051389,94.480556,MO,KAN06
69,Royals Stadium,39.051389,94.480556,MO,KAN06
70,Great American Ball Park,39.097500,84.506667,OH,CIN09
71,Cinergy Field,39.096667,84.508333,OH,CIN08
72,Riverfront Stadium,39.096667,84.508333,OH,CIN08
73,Crosley Field,39.116667,84.535278,OH,CIN07
74,Redland Field,39.116667,84.535278,OH,CIN07
75,Palace of the Fans,39.116944,84.536667,OH,CIN06
76,League Park II,41.511389,81.644167,OH,CIN05
77,Progressive Field,41.495833,81.685278,OH,CLE08
78,Jacobs Field,41.495833,81.685278,OH,CLE08
79,Cleveland Stadium,41.506667,81.697222,OH,CLE07
80,Dunn Field,41.511389,81.644167,OH,TOL01
81,League Park,41.511389,81.644167,OH,TOL01
82,League Park I,41.511389,81.644167,OH,CIN04
83,Coors Field,39.756111,104.994167,CO,DEN02
84,Mile High Stadium,39.746111,105.021667,CO,DEN01
85,Citi Field,40.756944,73.845833,NY,NYC20
86,Shea Stadium,40.755556,73.848056,NY,NYC17
87,Miller Park,43.028333,87.971111,WI,MIL06
88,County Stadium,43.030000,87.973889,WI,MIL05
89,Sick's Stadium,47.580000,122.298056,WA,SEA01
90,Citizens Bank Park,39.905833,75.166389,PA,PHI13
91,Veterans Stadium,39.906667,75.171111,PA,PHI12
92,Baker Bowl,39.993056,75.155833,PA,PHI09
93,SunTrust Park,33.890000,84.468056,GA,ATL03
94,Turner Field,33.735278,84.389444,GA,ATL02
95,Atlanta-Fulton County Stadium,33.738889,84.388889,GA,ATL01
96,Atlanta Stadium,33.738889,84.388889,GA,ATL01
97,Braves Field,42.353056,71.118889,MA,BOS08
98,South End Grounds III,42.337500,71.086944,MA,BOS05
99,Comerica Park,42.339167,83.048611,MI,DET05
100,Tiger Stadium,42.331944,83.068889,MI,DET04
101,Briggs Stadium,42.331944,83.068889,MI,DET04
102,Navin Field,42.331944,83.068889,MI,DET04
103,Bennett Park,42.331944,83.068889,MI,DET02
104,Yankee Stadium III,40.829167,73.926389,NY,NYC21
105,Yankee Stadium II,40.829167,73.926389,NY,NYC21
106,Yankee Stadium IIx,40.829167,73.926389,NY,NYC21
107,Yankee Stadium I,40.826944,73.928056,NY,NYC16
108,Hilltop Park,40.840556,73.942222,NY,NYC13
109,Angel Stadium of Anaheim,33.800278,117.882778,CA,ANA01
110,Edison Field,33.800300,117.883000,CA,ANA01
111,Anaheim Stadium,33.800278,117.882778,CA,ANA01
112,Globe Life Park in Arlington,32.751389,97.082778,TX,ARL02
113,Rangers Ballpark in Arlington,32.751389,97.082778,TX,ARL02
114,Ameriquest Field,32.751389,97.082778,TX,ARL02
115,The Ballpark in Arlington,32.751389,97.082778,TX,ARL02
116,Arlington Stadium,32.756389,97.084722,TX,ARL01
117,D.C. Stadium,38.890000,76.971944,D.C.,WAS10
118,Petco Park,32.707222,117.156667,CA,SAN02
119,Qualcomm Stadium,32.783056,117.119444,CA,SAN01
120,Jack Murphy Stadium,32.783056,117.119444,CA,SAN01
121,San Diego Stadium,32.783056,117.119444,CA,SAN01
122,Busch Stadium III,38.622500,90.193056,MO,STL10
123,Busch Stadium II,38.623889,90.192500,MO,STL09
124,Busch Stadium I,38.658056,90.220000,MO,STL07
125,Sportsman's Park III,38.658000,90.220000,MO,STL07
126,Robison Field,38.662778,90.222222,MO,STL05
127,Oriole Park at Camden Yards,39.283889,76.621667,MD,BAL12
128,Memorial Stadium,39.329444,76.601389,MD,BAL11
129,Sportsman's Park II,38.658000,90.220000,MO,STL06
130,Lloyd Street Grounds,43.058889,87.933889,WI,MIL04

In [75]:
d = {}
for j in range(len(unique_stadiums_df)):
    stad = unique_stadiums_df.iloc[j]['stadium_name']
    park_id = unique_stadiums_df.iloc[j]['park_id']
    d[stad] = park_id

In [78]:
with open('data/retrograde_park_codes.json', 'w') as f:
    json.dump(d, f)

In [2]:
team_codes = pd.read_csv('retrograde_team_codes.csv')
team_codes['year_2'] = pd.to_numeric(team_codes['year_2'])
team_codes['year_1'] = pd.to_numeric(team_codes['year_1'])
team_codes = team_codes.assign(full_name = team_codes.city + ' ' + team_codes.team_name)
team_codes = team_codes.drop(columns = ['city', 'team_name'])
team_codes = team_codes[team_codes.year_2 >= 1900]
team_codes = team_codes.reset_index().drop(columns = ['index'])

In [3]:
team_codes.to_csv('data/retrograde_team_codes.csv')

In [5]:
stadiums_.head()

,team_code,team,state_code,year,primary_stadium,primary_latitude,primary_longitude,secondary_stadium,secondary_latitude,secondary_longitude,attendance/game,pitching_park_factor,batting_park_factor
0,TBD,Tampa Bay Rays,FL,2019,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"14,552",96,97
1,TBD,Tampa Bay Rays,FL,2018,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"14,259",96,97
2,TBD,Tampa Bay Rays,FL,2017,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"15,477",96,96
3,TBD,Tampa Bay Rays,FL,2016,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"15,879",95,95
4,TBD,Tampa Bay Rays,FL,2015,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"15,322",97,96

In [6]:
with open('data/retrograde_park_codes.json', 'r') as f:
    stadiums_codes_ = json.load(f)

In [8]:
stadiums_['park_ids'] = stadiums_['primary_stadium'].map(stadiums_codes_)

In [11]:
stadiums_.to_csv('data/all_stadiums_w_park_ids.csv')

In [13]:
stadiums_.head()

,team_code,team,state_code,year,primary_stadium,primary_latitude,primary_longitude,secondary_stadium,secondary_latitude,secondary_longitude,attendance/game,pitching_park_factor,batting_park_factor,park_ids
0,TBD,Tampa Bay Rays,FL,2019,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"14,552",96,97,STP01
1,TBD,Tampa Bay Rays,FL,2018,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"14,259",96,97,STP01
2,TBD,Tampa Bay Rays,FL,2017,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"15,477",96,96,STP01
3,TBD,Tampa Bay Rays,FL,2016,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"15,879",95,95,STP01
4,TBD,Tampa Bay Rays,FL,2015,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"15,322",97,96,STP01

In [14]:
team_codes.head()

  team_code league  year_1  year_2              full_name
0       BSN     NL    1876    1952          Boston Braves
1       CHN     NL    1876    2010           Chicago Cubs
2       NY1     NL    1883    1957        New York Giants
3       PHI     NL    1883    2010  Philadelphia Phillies
4       PIT     NL    1887    2010     Pittsburgh Pirates

In [15]:
teams = list(stadiums_.team.unique())

In [27]:
stadiums_ = stadiums_.assign(rg_teamcode = None)

In [28]:
for k in range(len(stadiums_)):
    try:
        rg_tc = team_codes[team_codes.full_name == stadiums_.iloc[k]['team']].team_code.value_counts().idxmax()
        stadiums_.at[k, 'rg_teamcode'] = rg_tc
    except Exception as e:
        print(e)
        print(stadiums_.iloc[k]['team'])
        continue

attempt to get argmax of an empty sequence
Tampa Bay Rays
attempt to get argmax of an empty sequence
Tampa Bay Rays
attempt to get argmax of an empty sequence
Tampa Bay Rays
attempt to get argmax of an empty sequence
Tampa Bay Rays
attempt to get argmax of an empty sequence
Tampa Bay Rays
attempt to get argmax of an empty sequence
Tampa Bay Rays
attempt to get argmax of an empty sequence
Tampa Bay Rays
attempt to get argmax of an empty sequence
Tampa Bay Rays
attempt to get argmax of an empty sequence
Tampa Bay Rays
attempt to get argmax of an empty sequence
Tampa Bay Rays
attempt to get argmax of an empty sequence
Tampa Bay Rays
attempt to get argmax of an empty sequence
Tampa Bay Rays
attempt to get argmax of an empty sequence
Chicago Orphans
attempt to get argmax of an empty sequence
Chicago Orphans
attempt to get argmax of an empty sequence
Chicago Orphans
attempt to get argmax of an empty sequence
Miami Marlins
attempt to get argmax of an empty sequence
Miami Marlins
attempt to get argmax of an empty sequence
Miami Marlins
attempt to get argmax of an empty sequence
Miami Marlins
attempt to get argmax of an empty sequence
Miami Marlins
attempt to get argmax of an empty sequence
Miami Marlins
attempt to get argmax of an empty sequence
Miami Marlins
attempt to get argmax of an empty sequence
Miami Marlins
attempt to get argmax of an empty sequence
Brooklyn Robins
attempt to get argmax of an empty sequence
Brooklyn Robins
attempt to get argmax of an empty sequence
Brooklyn Robins
attempt to get argmax of an empty sequence
Brooklyn Robins
attempt to get argmax of an empty sequence
Brooklyn Robins
attempt to get argmax of an empty sequence
Brooklyn Robins
attempt to get argmax of an empty sequence
Brooklyn Robins
attempt to get argmax of an empty sequence
Brooklyn Robins
attempt to get argmax of an empty sequence
Brooklyn Robins
attempt to get argmax of an empty sequence
Brooklyn Robins
attempt to get argmax of an empty sequence
Brooklyn Robins
attempt to get argmax of an empty sequence
Brooklyn Robins
attempt to get argmax of an empty sequence
Brooklyn Robins
attempt to get argmax of an empty sequence
Brooklyn Robins
attempt to get argmax of an empty sequence
Brooklyn Robins
attempt to get argmax of an empty sequence
Brooklyn Robins
attempt to get argmax of an empty sequence
Brooklyn Robins
attempt to get argmax of an empty sequence
Brooklyn Robins
attempt to get argmax of an empty sequence
Brooklyn Superbas
attempt to get argmax of an empty sequence
Brooklyn Superbas
attempt to get argmax of an empty sequence
Brooklyn Superbas
attempt to get argmax of an empty sequence
Brooklyn Superbas
attempt to get argmax of an empty sequence
Brooklyn Superbas
attempt to get argmax of an empty sequence
Brooklyn Superbas
attempt to get argmax of an empty sequence
Brooklyn Superbas
attempt to get argmax of an empty sequence
Brooklyn Superbas
attempt to get argmax of an empty sequence
Brooklyn Superbas
attempt to get argmax of an empty sequence
Brooklyn Superbas
attempt to get argmax of an empty sequence
Brooklyn Superbas
attempt to get argmax of an empty sequence
Brooklyn Superbas
attempt to get argmax of an empty sequence
Boston Americans
attempt to get argmax of an empty sequence
Boston Americans
attempt to get argmax of an empty sequence
Boston Americans
attempt to get argmax of an empty sequence
Boston Americans
attempt to get argmax of an empty sequence
Boston Americans
attempt to get argmax of an empty sequence
Boston Americans
attempt to get argmax of an empty sequence
Boston Americans
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Astros
attempt to get argmax of an empty sequence
Houston Colt .45s
attempt to get argmax of an empty sequence
Houston Colt .45s
attempt to get argmax of an empty sequence
Houston Colt .45s
attempt to get argmax of an empty sequence
Cincinnati Redlegs
attempt to get argmax of an empty sequence
Cincinnati Redlegs
attempt to get argmax of an empty sequence
Cincinnati Redlegs
attempt to get argmax of an empty sequence
Cincinnati Redlegs
attempt to get argmax of an empty sequence
Cincinnati Redlegs
attempt to get argmax of an empty sequence
Cleveland Naps
attempt to get argmax of an empty sequence
Cleveland Naps
attempt to get argmax of an empty sequence
Cleveland Naps
attempt to get argmax of an empty sequence
Cleveland Naps
attempt to get argmax of an empty sequence
Cleveland Naps
attempt to get argmax of an empty sequence
Cleveland Naps
attempt to get argmax of an empty sequence
Cleveland Naps
attempt to get argmax of an empty sequence
Cleveland Naps
attempt to get argmax of an empty sequence
Cleveland Naps
attempt to get argmax of an empty sequence
Cleveland Naps
attempt to get argmax of an empty sequence
Cleveland Naps
attempt to get argmax of an empty sequence
Cleveland Naps
attempt to get argmax of an empty sequence
Cleveland Bronchos
attempt to get argmax of an empty sequence
Cleveland Blues
attempt to get argmax of an empty sequence
Boston Bees
attempt to get argmax of an empty sequence
Boston Bees
attempt to get argmax of an empty sequence
Boston Bees
attempt to get argmax of an empty sequence
Boston Bees
attempt to get argmax of an empty sequence
Boston Bees
attempt to get argmax of an empty sequence
Boston Rustlers
attempt to get argmax of an empty sequence
Boston Doves
attempt to get argmax of an empty sequence
Boston Doves
attempt to get argmax of an empty sequence
Boston Doves
attempt to get argmax of an empty sequence
Boston Doves
attempt to get argmax of an empty sequence
Boston Beaneaters
attempt to get argmax of an empty sequence
Boston Beaneaters
attempt to get argmax of an empty sequence
Boston Beaneaters
attempt to get argmax of an empty sequence
Boston Beaneaters
attempt to get argmax of an empty sequence
Boston Beaneaters
attempt to get argmax of an empty sequence
Boston Beaneaters
attempt to get argmax of an empty sequence
Boston Beaneaters

attempt to get argmax of an empty sequence
New York Highlanders
attempt to get argmax of an empty sequence
New York Highlanders
attempt to get argmax of an empty sequence
New York Highlanders
attempt to get argmax of an empty sequence
New York Highlanders
attempt to get argmax of an empty sequence
New York Highlanders
attempt to get argmax of an empty sequence
New York Highlanders
attempt to get argmax of an empty sequence
New York Highlanders
attempt to get argmax of an empty sequence
New York Highlanders
attempt to get argmax of an empty sequence
New York Highlanders
attempt to get argmax of an empty sequence
New York Highlanders
attempt to get argmax of an empty sequence
Los Angeles Angels of Anaheim
attempt to get argmax of an empty sequence
Los Angeles Angels of Anaheim
attempt to get argmax of an empty sequence
Los Angeles Angels of Anaheim
attempt to get argmax of an empty sequence
Los Angeles Angels of Anaheim
attempt to get argmax of an empty sequence
Los Angeles Angels of Anaheim
attempt to get argmax of an empty sequence
Los Angeles Angels of Anaheim
attempt to get argmax of an empty sequence
Los Angeles Angels of Anaheim
attempt to get argmax of an empty sequence
Los Angeles Angels of Anaheim
attempt to get argmax of an empty sequence
Los Angeles Angels of Anaheim
attempt to get argmax of an empty sequence
Los Angeles Angels of Anaheim
attempt to get argmax of an empty sequence
Los Angeles Angels of Anaheim
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns
attempt to get argmax of an empty sequence
St. Louis Browns

In [31]:
problem_teams = list(stadiums_[stadiums_.rg_teamcode.isnull()].team.unique())

In [32]:
problem_teams

['Tampa Bay Rays',
 'Chicago Orphans',
 'Miami Marlins',
 'Brooklyn Robins',
 'Brooklyn Superbas',
 'Boston Americans',
 'Houston Astros',
 'Houston Colt .45s',
 'Cincinnati Redlegs',
 'Cleveland Naps',
 'Cleveland Bronchos',
 'Cleveland Blues',
 'Boston Bees',
 'Boston Rustlers',
 'Boston Doves',
 'Boston Beaneaters',
 'New York Highlanders',
 'Los Angeles Angels of Anaheim',
 'St. Louis Browns']

In [34]:
df_list = []
for team in problem_teams:
    df = stadiums_[stadiums_.team == team]
    df_list.append(df)
problem_data = pd.concat(df_list, sort = False)

In [43]:
team_codes[team_codes.team_code == 'BRO']

  team_code league  year_1  year_2         full_name
5       BRO     NL    1890    1957  Brooklyn Dodgers

In [36]:
pd.set_option('max.rows', 230)
problem_data

,team_code,team,state_code,year,primary_stadium,primary_latitude,primary_longitude,secondary_stadium,secondary_latitude,secondary_longitude,attendance/game,pitching_park_factor,batting_park_factor,park_ids,rg_teamcode
0,TBD,Tampa Bay Rays,FL,2019,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"14,552",96,97,STP01,None
1,TBD,Tampa Bay Rays,FL,2018,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"14,259",96,97,STP01,None
2,TBD,Tampa Bay Rays,FL,2017,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"15,477",96,96,STP01,None
3,TBD,Tampa Bay Rays,FL,2016,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"15,879",95,95,STP01,None
4,TBD,Tampa Bay Rays,FL,2015,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"15,322",97,96,STP01,None
5,TBD,Tampa Bay Rays,FL,2014,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"17,858",97,97,STP01,None
6,TBD,Tampa Bay Rays,FL,2013,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"18,646",96,97,STP01,None
7,TBD,Tampa Bay Rays,FL,2012,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"19,255",94,95,STP01,None
8,TBD,Tampa Bay Rays,FL,2011,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"18,879",92,93,STP01,None
9,TBD,Tampa Bay Rays,FL,2010,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"23,025",94,95,STP01,None
10,TBD,Tampa Bay Rays,FL,2009,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"23,148",97,98,STP01,None
11,TBD,Tampa Bay Rays,FL,2008,Tropicana Field,27.768333,82.653333,Ballpark at Disney's Wide World of Sports,28.337083333333332,81.556,"22,370",101,101,STP01,None
378,CHC,Chicago Orphans,IL,1902,West Side Grounds,41.870278,87.672500,NaN,NaN,NaN,"3,663",96,96,CHI08,None
379,CHC,Chicago Orphans,IL,1901,West Side Grounds,41.870278,87.672500,NaN,NaN,NaN,"2,930",98,97,CHI08,None
380,CHC,Chicago Orphans,IL,1900,West Side Grounds,41.870278,87.672500,NaN,NaN,NaN,"3,228",97,96,CHI08,None
424,FLA,Miami Marlins,FL,2019,Marlins Park,25.778056,80.219722,NaN,NaN,NaN,"10,016",96,94,MIA02,None
425,FLA,Miami Marlins,FL,2018,Marlins Park,25.778056,80.219722,NaN,NaN,NaN,"10,014",95,94,MIA02,None
426,FLA,Miami Marlins,FL,2017,Marlins Park,25.778056,80.219722,NaN,NaN,NaN,"20,295",91,90,MIA02,None
427,FLA,Miami Marlins,FL,2016,Marlins Park,25.778056,80.219722,Estadio Hiram Bithorn,18.416666666666668,66.07305555555556,"21,405",94,93,MIA02,None
428,FLA,Miami Marlins,FL,2015,Marlins Park,25.778056,80.219722,NaN,NaN,NaN,"21,633",97,96,MIA02,None
429,FLA,Miami Marlins,FL,2014,Marlins Park,25.778056,80.219722,NaN,NaN,NaN,"21,386",101,100,MIA02,None
430,FLA,Miami Marlins,FL,2013,Marlins Park,25.778056,80.219722,NaN,NaN,NaN,"19,584",103,102,MIA02,None
431,FLA,Miami Marlins,FL,2012,Marlins Park,25.778056,80.219722,NaN,NaN,NaN,"27,401",103,102,MIA02,None
731,LAD,Brooklyn Robins,NY,1931,Ebbets Field,40.665000,73.958056,NaN,NaN,NaN,"9,910",99,100,NYC15,None
732,LAD,Brooklyn Robins,NY,1930,Ebbets Field,40.665000,73.958056,NaN,NaN,NaN,"14,251",99,100,NYC15,None
733,LAD,Brooklyn Robins,NY,1929,Ebbets Field,40.665000,73.958056,NaN,NaN,NaN,"9,505",98,98,NYC15,None
734,LAD,Brooklyn Robins,NY,1928,Ebbets Field,40.665000,73.958056,NaN,NaN,NaN,"8,635",99,98,NYC15,None
735,LAD,Brooklyn Robins,NY,1927,Ebbets Field,40.665000,73.958056,NaN,NaN,NaN,"8,611",101,100,NYC15,None
736,LAD,Brooklyn Robins,NY,1926,Ebbets Field,40.665000,73.958056,NaN,NaN,NaN,"8,563",99,98,NYC15,None
737,LAD,Brooklyn Robins,NY,1925,Ebbets Field,40.665000,73.958056,NaN,NaN,NaN,"8,564",97,97,NYC15,None
738,LAD,Brooklyn Robins,NY,1924,Ebbets Field,40.665000,73.958056,NaN,NaN,NaN,"10,635",97,97,NYC15,None
739,LAD,Brooklyn Robins,NY,1923,Ebbets Field,40.665000,73.958056,NaN,NaN,NaN,"7,239",97,98,NYC15,None
740,LAD,Brooklyn Robins,NY,1922,Ebbets Field,40.665000,73.958056,NaN,NaN,NaN,"6,396",100,100,NYC15,None
741,LAD,Brooklyn Robins,NY,1921,Ebbets Field,40.665000,73.958056,NaN,NaN,NaN,"7,862",104,105,NYC15,None
742,LAD,Brooklyn Robins,NY,1920,Ebbets Field,40.665000,73.958056,NaN,NaN,NaN,"10,368",102,103,NYC15,None
743,LAD,Brooklyn Robins,NY,1919,Ebbets Field,40.665000,73.958056,NaN,NaN,NaN,"5,153",102,102,NYC15,None
744,LAD,Brooklyn Robins,NY,1918,Ebbets Field,40.665000,73.958056,NaN,NaN,NaN,"1,552",100,98,NYC15,None
745,LAD,Brooklyn Robins,NY,1917,Ebbets Field,40.665000,73.958056,NaN,NaN,NaN,"2,841",103,102,NYC15,None
746,LAD,Brooklyn Robins,NY,1916,Ebbets Field,40.665000,73.958056,NaN,NaN,NaN,"5,740",103,103,NYC15,None
747,LAD,Brooklyn Robins,NY,1915,Ebbets Field,40.665000,73.958056,NaN,NaN,NaN,"3,818",102,103,NYC15,None
748,LAD,Brooklyn Robins,NY,1914,Ebbets Field,40.665000,73.958056,NaN,NaN,NaN,"1,553",102,102,NYC15,None
749,LAD,Brooklyn Superbas,NY,1913,Ebbets Field,40.665000,73.958056,NaN,NaN,NaN,"4,506",102,102,NYC15,None
752,LAD,Brooklyn Superbas,NY,1910,Washington Park III,40.673900,73.985600,NaN,NaN,NaN,"3,492",99,97,NYC12,None
753,LAD,Brooklyn Superbas,NY,1909,Washington Park III,40.673900,73.985600,NaN,NaN,NaN,"4,067",100,96,NYC12,None
754,LAD,Brooklyn Superbas,NY,1908,Washington Park III,40.673900,73.985600,NaN,NaN,NaN,"3,579",100,96,NYC12,None
755,LAD,Brooklyn Superbas,NY,1907,Washington Park III,40.673900,73.985600,NaN,NaN,NaN,"4,058",95,92,NYC12,None
756,LAD,Brooklyn Superbas,NY,1906,Washington Park III,40.673900,73.985600,NaN,NaN,NaN,"3,650",96,92,NYC12,None
757,LAD,Brooklyn Superbas,NY,1905,Washington Park III,40.673900,73.985600,NaN,NaN,NaN,"2,960",96,92,NYC12,None
758,LAD,Brooklyn Superbas,NY,1904,Washington Park III,40.673900,73.985600,NaN,NaN,NaN,"2,824",100,97,NYC12,None
759,LAD,Brooklyn Superbas,NY,1903,Washington Park III,40.673900,73.985600,NaN,NaN,NaN,"3,078",98,98,NYC12,None
760,LAD,Brooklyn Superbas,NY,1902,Washington Park III,40.673900,73.985600,NaN,NaN,NaN,"2,897",98,99,NYC12,None
761,LAD,Brooklyn Superbas,NY,1901,Washington Park III,40.673900,73.985600,NaN,NaN,NaN,"2,915",101,103,NYC12,None
762,LAD,Brooklyn Superbas,NY,1900,Washington Park III,40.673900,73.985600,NaN,NaN,NaN,"2,507",103,105,NYC12,None
1038,BOS,Boston Americans,MA,1907,Huntington Avenue Baseball Grounds,42.338889,71.088889,NaN,NaN,NaN,"5,600",101,99,BOS06,None
1039,BOS,Boston Americans,MA,1906,Huntington Avenue Baseball Grounds,42.338889,71.088889,NaN,NaN,NaN,"5,327",102,99,BOS06,None
1040,BOS,Boston Americans,MA,1905,Huntington Avenue Baseball Grounds,42.338889,71.088889,NaN,NaN,NaN,"6,089",101,101,BOS06,None
1041,BOS,Boston Americans,MA,1904,Huntington Avenue Baseball Grounds,42.338889,71.088889,NaN,NaN,NaN,"7,695",103,106,BOS06,None
1042,BOS,Boston Americans,MA,1903,Huntington Avenue Baseball Grounds,42.338889,71.088889,NaN,NaN,NaN,"5,419",102,105,BOS06,None
1043,BOS,Boston Americans,MA,1902,Huntington Avenue Baseball Grounds,42.338889,71.088889,NaN,NaN,NaN,"4,909",99,102,BOS06,None
1044,BOS,Boston Americans,MA,1901,Huntington Avenue Baseball Grounds,42.338889,71.088889,NaN,NaN,NaN,"4,195",97,99,BOS06,None
1164,HOU,Houston Astros,TX,2019,Minute Maid Park,29.756944,95.355556,NaN,NaN,NaN,"35,276",100,103,HOU03,None
1165,HOU,Houston Astros,TX,2018,Minute Maid Park,29.756944,95.355556,NaN,NaN,NaN,"36,797",97,99,HOU03,None
1166,HOU,Houston Astros,TX,2017,Minute Maid Park,29.756944,95.355556,NaN,NaN,NaN,"29,675",93,94,HOU03,None
1167,HOU,Houston Astros,TX,2016,Minute Maid Park,29.756944,95.355556,NaN,NaN,NaN,"28,477",93,94,HOU03,None
1168,HOU,Houston Astros,TX,2015,Minute Maid Park,29.756944,95.355556,NaN,NaN,NaN,"26,587",97,97,HOU03,None
1169,HOU,Houston Astros,TX,2014,Minute Maid Park,29.756944,95.355556,NaN,NaN,NaN,"21,628",101,100,HOU03,None
1170,HOU,Houston Astros,TX,2013,Minute Maid Park,29.756944,95.355556,NaN,NaN,NaN,"20,394",101,99,HOU03,None
1171,HOU,Houston Astros,TX,2012,Minute Maid Park,29.756944,95.355556,NaN,NaN,NaN,"19,849",102,100,HOU03,None
1172,HOU,Houston Astros,TX,2011,Minute Maid Park,29.756944,95.355556,NaN,NaN,NaN,"25,519",99,98,HOU03,None
1173,HOU,Houston Astros,TX,2010,Minute Maid Park,29.756944,95.355556,NaN,NaN,NaN,"28,784",98,97,HOU03,None
1174,HOU,Houston Astros,TX,2009,Minute Maid Park,29.756944,95.355556,NaN,NaN,NaN,"31,124",98,98,HOU03,None
1175,HOU,Houston Astros,TX,2008,Minute Maid Park,29.756944,95.355556,Miller Park,43.02833333333333,87.97111111111111,"34,744",98,97,HOU03,None
1176,HOU,Houston Astros,TX,2007,Minute Maid Park,29.756944,95.355556,NaN,NaN,NaN,"37,289",100,100,HOU03,None
1177,HOU,Houston Astros,TX,2006,Minute Maid Park,29.756944,95.355556,NaN,NaN,NaN,"37,318",99,100,HOU03,None
1178,HOU,Houston Astros,TX,2005,Minute Maid Park,29.756944,95.355556,NaN,NaN,NaN,"34,627",100,101,HOU03,None
1179,HOU,Houston Astros,TX,2004,Minute Maid Park,29.756944,95.355556,NaN,NaN,NaN,"38,122",100,101,HOU03,None
1180,HOU,Houston Astros,TX,2003,Minute Maid Park,29.756944,95.355556,NaN,NaN,NaN,"30,299",102,103,HOU03,None
1181,HOU,Houston Astros,TX,2002,Minute Maid Park,29.756944,95.355556,NaN,NaN,NaN,"31,078",105,106,HOU03,None
1182,HOU,Houston Astros,TX,2001,Enron Field,29.756944,95.355556,NaN,NaN,NaN,"35,855",106,106,HOU03,None
1183,HOU,Houston Astros,TX,2000,Enron Field,29.756944,95.355556,NaN,NaN,NaN,"37,730",107,107,HOU03,None
1184,HOU,Houston Astros,TX,1999,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"33,000",98,99,HOU02,None
1185,HOU,Houston Astros,TX,1998,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"30,351",97,98,HOU02,None
1186,HOU,Houston Astros,TX,1997,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"25,269",95,96,HOU02,None
1187,HOU,Houston Astros,TX,1996,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"24,394",91,92,HOU02,None
1188,HOU,Houston Astros,TX,1995,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"18,942",92,92,HOU02,None
1189,HOU,Houston Astros,TX,1994,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"26,460",94,95,HOU02,None
1190,HOU,Houston Astros,TX,1993,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"25,736",95,95,HOU02,None
1191,HOU,Houston Astros,TX,1992,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"14,956",96,95,HOU02,None
1192,HOU,Houston Astros,TX,1991,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"14,767",94,93,HOU02,None
1193,HOU,Houston Astros,TX,1990,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"16,184",98,97,HOU02,None
1194,HOU,Houston Astros,TX,1989,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"22,377",97,97,HOU02,None
1195,HOU,Houston Astros,TX,1988,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"23,870",96,96,HOU02,None
1196,HOU,Houston Astros,TX,1987,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"23,579",96,96,HOU02,None
1197,HOU,Houston Astros,TX,1986,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"21,411",96,97,HOU02,None
1198,HOU,Houston Astros,TX,1985,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"14,621",96,97,HOU02,None
1199,HOU,Houston Astros,TX,1984,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"15,183",92,92,HOU02,None
1200,HOU,Houston Astros,TX,1983,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"16,487",93,93,HOU02,None
1201,HOU,Houston Astros,TX,1982,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"19,241",92,92,HOU02,None
1202,HOU,Houston Astros,TX,1981,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"25,907",94,95,HOU02,None
1203,HOU,Houston Astros,TX,1980,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"28,126",91,92,HOU02,None
1204,HOU,Houston Astros,TX,1979,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"23,461",94,94,HOU02,None
1205,HOU,Houston Astros,TX,1978,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"13,903",92,92,HOU02,None
1206,HOU,Houston Astros,TX,1977,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"13,698",91,91,HOU02,None
1207,HOU,Houston Astros,TX,1976,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"10,807",91,91,HOU02,None
1208,HOU,Houston Astros,TX,1975,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"10,593",93,92,HOU02,None
1209,HOU,Houston Astros,TX,1974,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"13,466",95,95,HOU02,None
1210,HOU,Houston Astros,TX,1973,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"17,210",98,99,HOU02,None
1211,HOU,Houston Astros,TX,1972,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"19,081",97,98,HOU02,None
1212,HOU,Houston Astros,TX,1971,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"15,575",97,97,HOU02,None
1213,HOU,Houston Astros,TX,1970,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"15,475",96,96,HOU02,None
1214,HOU,Houston Astros,TX,1969,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"17,815",98,98,HOU02,None
1215,HOU,Houston Astros,TX,1968,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"16,208",99,97,HOU02,None
1216,HOU,Houston Astros,TX,1967,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"16,646",97,96,HOU02,None
1217,HOU,Houston Astros,TX,1966,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"23,112",95,93,HOU02,None
1218,HOU,Houston Astros,TX,1965,Astrodome,29.685000,95.407778,NaN,NaN,NaN,"26,561",94,92,HOU02,None
1219,HOU,Houston Colt .45s,TX,1964,Colt Stadium,29.688333,95.408611,NaN,NaN,NaN,"8,960",97,94,HOU01,None
1220,HOU,Houston Colt .45s,TX,1963,Colt Stadium,29.688333,95.408611,NaN,NaN,NaN,"8,883",96,94,HOU01,None
1221,HOU,Houston Colt .45s,TX,1962,Colt Stadium,29.688333,95.408611,NaN,NaN,NaN,"11,274",95,93,HOU01,None
1334,CIN,Cincinnati Redlegs,OH,1958,Crosley Field,39.116667,84.535278,NaN,NaN,NaN,"10,241",106,106,CIN07,None
1335,CIN,Cincinnati Redlegs,OH,1957,Crosley Field,39.116667,84.535278,NaN,NaN,NaN,"13,907",105,106,CIN07,None
1336,CIN,Cincinnati Redlegs,OH,1956,Crosley Field,39.116667,84.535278,NaN,NaN,NaN,"14,622",104,105,CIN07,None
1337,CIN,Cincinnati Redlegs,OH,1955,Crosley Field,39.116667,84.535278,NaN,NaN,NaN,"9,009",104,105,CIN07,None
1338,CIN,Cincinnati Redlegs,OH,1954,Crosley Field,39.116667,84.535278,NaN,NaN,NaN,"9,145",103,102,CIN07,None
1498,CLE,Cleveland Naps,OH,1914,League Park II,41.511389,81.644167,NaN,NaN,NaN,"2,354",105,103,CIN05,None
1499,CLE,Cleveland Naps,OH,1913,League Park II,41.511389,81.644167,NaN,NaN,NaN,"6,763",104,103,CIN05,None
1500,CLE,Cleveland Naps,OH,1912,League Park II,41.511389,81.644167,NaN,NaN,NaN,"4,375",103,104,CIN05,None
1501,CLE,Cleveland Naps,OH,1911,League Park II,41.511389,81.644167,NaN,NaN,NaN,"5,277",102,101,CIN05,None
1502,CLE,Cleveland Naps,OH,1910,League Park II,41.511389,81.644167,NaN,NaN,NaN,"3,668",103,102,CIN05,None
1503,CLE,Cleveland Naps,OH,1909,League Park I,41.511389,81.644167,NaN,NaN,NaN,"4,606",103,104,CIN04,None
1504,CLE,Cleveland Naps,OH,1908,League Park I,41.511389,81.644167,NaN,NaN,NaN,"5,414",99,99,CIN04,None
1505,CLE,Cleveland Naps,OH,1907,League Park I,41.511389,81.644167,NaN,NaN,NaN,"4,659",98,101,CIN04,None
1506,CLE,Cleveland Naps,OH,1906,League Park I,41.511389,81.644167,NaN,NaN,NaN,"4,123",97,98,CIN04,None
1507,CLE,Cleveland Naps,OH,1905,League Park I,41.511389,81.644167,NaN,NaN,NaN,"4,108",99,101,CIN04,None
1508,CLE,Cleveland Naps,OH,1904,League Park I,41.511389,81.644167,NaN,NaN,NaN,"3,394",98,99,CIN04,None
1509,CLE,Cleveland Naps,OH,1903,League Park I,41.511389,81.644167,Mahaffey Park,40.8,81.37916666666666,"4,206",96,98,CIN04,None
1510,CLE,Cleveland Bronchos,OH,1902,League Park I,41.511389,81.644167,Mahaffey Park,40.8,81.37916666666666,"4,237",96,95,CIN04,None
1511,CLE,Cleveland Blues,OH,1901,League Park I,41.511389,81.644167,NaN,NaN,NaN,"1,904",97,96,CIN04,None
1847,ATL,Boston Bees,MA,1940,Braves Field,42.353056,71.118889,NaN,NaN,NaN,"3,222",95,93,BOS08,None
1848,ATL,Boston Bees,MA,1939,Braves Field,42.353056,71.118889,NaN,NaN,NaN,"3,918",94,92,BOS08,None
1849,ATL,Boston Bees,MA,1938,Braves Field,42.353056,71.118889,NaN,NaN,NaN,"4,549",90,90,BOS08,None
1850,ATL,Boston Bees,MA,1937,Braves Field,42.353056,71.118889,NaN,NaN,NaN,"5,070",91,90,BOS08,None
1851,ATL,Boston Bees,MA,1936,Braves Field,42.353056,71.118889,NaN,NaN,NaN,"4,311",95,93,BOS08,None
1876,ATL,Boston Rustlers,MA,1911,South End Grounds III,42.337500,71.086944,NaN,NaN,NaN,"1,547",111,106,BOS05,None
1877,ATL,Boston Doves,MA,1910,South End Grounds III,42.337500,71.086944,NaN,NaN,NaN,"1,911",108,102,BOS05,None
1878,ATL,Boston Doves,MA,1909,South End Grounds III,42.337500,71.086944,NaN,NaN,NaN,"2,568",108,103,BOS05,None
1879,ATL,Boston Doves,MA,1908,South End Grounds III,42.337500,71.086944,NaN,NaN,NaN,"3,253",101,98,BOS05,None
1880,ATL,Boston Doves,MA,1907,South End Grounds III,42.337500,71.086944,NaN,NaN,NaN,"2,746",103,99,BOS05,None
1881,ATL,Boston Beaneaters,MA,1906,South End Grounds III,42.337500,71.086944,NaN,NaN,NaN,"1,885",102,97,BOS05,None
1882,ATL,Boston Beaneaters,MA,1905,South End Grounds III,42.337500,71.086944,NaN,NaN,NaN,"1,974",103,97,BOS05,None
1883,ATL,Boston Beaneaters,MA,1904,South End Grounds III,42.337500,71.086944,NaN,NaN,NaN,"1,781",100,96,BOS05,None
1884,ATL,Boston Beaneaters,MA,1903,South End Grounds III,42.337500,71.086944,Rocky Point Park,49.28,122.84888888888888,"2,105",99,96,BOS05,None
1885,ATL,Boston Beaneaters,MA,1902,South End Grounds III,42.337500,71.086944,NaN,NaN,NaN,"1,624",101,100,BOS05,None
1886,ATL,Boston Beaneaters,MA,1901,South End Grounds III,42.337500,71.086944,NaN,NaN,NaN,"2,093",109,109,BOS05,None
1887,ATL,Boston Beaneaters,MA,1900,South End Grounds III,42.337500,71.086944,NaN,NaN,NaN,"2,767",111,111,BOS05,None
2114,NYY,New York Highlanders,NY,1912,Polo Grounds V,40.830833,73.937500,Hilltop Park,40.84055555555556,73.94222222222223,"3,187",109,106,NYC14,None
2115,NYY,New York Highlanders,NY,1911,Hilltop Park,40.840556,73.942222,NaN,NaN,NaN,"3,928",107,106,NYC13,None
2116,NYY,New York Highlanders,NY,1910,Hilltop Park,40.840556,73.942222,NaN,NaN,NaN,"4,622",105,106,NYC13,None
2117,NYY,New York Highlanders,NY,1909,Hilltop Park,40.840556,73.942222,NaN,NaN,NaN,"6,506",102,100,NYC13,None
2118,NYY,New York Highlanders,NY,1908,Hilltop Park,40.840556,73.942222,NaN,NaN,NaN,"3,968",103,100,NYC13,None
2119,NYY,New York Highlanders,NY,1907,Hilltop Park,40.840556,73.942222,NaN,NaN,NaN,"4,667",109,108,NYC13,None
2120,NYY,New York Highlanders,NY,1906,Hilltop Park,40.840556,73.942222,NaN,NaN,NaN,"5,720",110,110,NYC13,None
2121,NYY,New York Highlanders,NY,1905,Hilltop Park,40.840556,73.942222,NaN,NaN,NaN,"4,121",110,111,NYC13,None
2122,NYY,New York Highlanders,NY,1904,Hilltop Park,40.840556,73.942222,Wiedenmeyer's Park,40.82916666666667,73.9263888888889,"5,852",105,105,NYC13,None
2123,NYY,New York Highlanders,NY,1903,Hilltop Park,40.840556,73.942222,NaN,NaN,NaN,"3,161",105,106,NYC13,None
2128,ANA,Los Angeles Angels of Anaheim,CA,2015,Angel Stadium of Anaheim,33.800278,117.882778,NaN,NaN,NaN,"37,195",94,94,ANA01,None
2129,ANA,Los Angeles Angels of Anaheim,CA,2014,Angel Stadium of Anaheim,33.800278,117.882778,NaN,NaN,NaN,"38,221",94,95,ANA01,None
2130,ANA,Los Angeles Angels of Anaheim,CA,2013,Angel Stadium of Anaheim,33.800278,117.882778,NaN,NaN,NaN,"37,278",94,94,ANA01,None
2131,ANA,Los Angeles Angels of Anaheim,CA,2012,Angel Stadium of Anaheim,33.800278,117.882778,NaN,NaN,NaN,"37,800",93,94,ANA01,None
2132,ANA,Los Angeles Angels of Anaheim,CA,2011,Angel Stadium of Anaheim,33.800278,117.882778,NaN,NaN,NaN,"39,090",92,92,ANA01,None
2133,ANA,Los Angeles Angels of Anaheim,CA,2010,Angel Stadium of Anaheim,33.800278,117.882778,NaN,NaN,NaN,"40,134",96,96,ANA01,None
2134,ANA,Los Angeles Angels of Anaheim,CA,2009,Angel Stadium of Anaheim,33.800278,117.882778,NaN,NaN,NaN,"40,005",98,99,ANA01,None
2135,ANA,Los Angeles Angels of Anaheim,CA,2008,Angel Stadium of Anaheim,33.800278,117.882778,NaN,NaN,NaN,"41,194",102,102,ANA01,None
2136,ANA,Los Angeles Angels of Anaheim,CA,2007,Angel Stadium of Anaheim,33.800278,117.882778,NaN,NaN,NaN,"41,551",100,101,ANA01,None
2137,ANA,Los Angeles Angels of Anaheim,CA,2006,Angel Stadium of Anaheim,33.800278,117.882778,NaN,NaN,NaN,"42,059",99,100,ANA01,None
2138,ANA,Los Angeles Angels of Anaheim,CA,2005,Angel Stadium of Anaheim,33.800278,117.882778,NaN,NaN,NaN,"42,033",97,98,ANA01,None
2479,BAL,St. Louis Browns,MO,1953,Busch Stadium I,38.658056,90.220000,NaN,NaN,NaN,"3,860",105,102,STL07,None
2480,BAL,St. Louis Browns,MO,1952,Sportsman's Park III,38.658000,90.220000,NaN,NaN,NaN,"6,651",106,102,STL07,None
2481,BAL,St. Louis Browns,MO,1951,Sportsman's Park III,38.658000,90.220000,NaN,NaN,NaN,"3,815",107,103,STL07,None
2482,BAL,St. Louis Browns,MO,1950,Sportsman's Park III,38.658000,90.220000,NaN,NaN,NaN,"3,340",108,104,STL07,None
2483,BAL,St. Louis Browns,MO,1949,Sportsman's Park III,38.658000,90.220000,NaN,NaN,NaN,"3,519",108,105,STL07,None

In [39]:
for l in range(0, 12):
    stadiums_.at[l, 'rg_teamcode'] = 'TBA'
for l in range(378, 381):
    stadiums_.at[l, 'rg_teamcode'] = 'CHN'
for l in range(424, 432):
    stadiums_.at[l, 'rg_teamcode'] = 'FLO'
for l in range(731, 763):
    stadiums_.at[l, 'rg_teamcode'] = 'BRO'
for l in range(1038, 1045):
    stadiums_.at[l, 'rg_teamcode'] = 'BOS'
for l in range(1164, 1222):
    stadiums_.at[l, 'rg_teamcode'] = 'HOU'
for l in range(1334, 1339):
    stadiums_.at[l, 'rg_teamcode'] = 'CIN'
for l in range(1498, 1512):
    stadiums_.at[l, 'rg_teamcode'] = 'CLE'
for l in range(1847, 1852):
    stadiums_.at[l, 'rg_teamcode'] = 'BSN'
for l in range(1876, 1888):
    stadiums_.at[l, 'rg_teamcode'] = 'BSN'
for l in range(2114, 2124):
    stadiums_.at[l, 'rg_teamcode'] = 'NYA'
for l in range(2128, 2139):
    stadiums_.at[l, 'rg_teamcode'] = 'ANA'
for l in range(2479, 2531):
    stadiums_.at[l, 'rg_teamcode'] = 'SLA'

In [42]:
stadiums_.to_csv('data/relational_retrograde.csv')

In [51]:
gamelogs_full = pd.read_csv('data/retrograde_gamelog.csv')

In [52]:
gamelogs_full = gamelogs_full.drop(columns = ['Unnamed: 6'])

In [53]:
gamelogs_full

            date away_team home_team game_time park_id  attendance
0       20080325       BOS       OAK         N   TOK01     44628.0
1       20080326       BOS       OAK         N   TOK01     44735.0
2       20080330       ATL       WAS         N   WAS11     39389.0
3       20080331       PIT       ATL         N   ATL02     45269.0
4       20080331       MIL       CHN         D   CHI11     41089.0
...          ...       ...       ...       ...     ...         ...
197737  20051002       MIL       PIT         D   PIT08     23008.0
197738  20051002       LAN       SDN         D   SAN02     37748.0
197739  20051002       ARI       SFN         D   SFO03     40239.0
197740  20051002       CIN       SLN         D   STL09     50434.0
197741  20051002       PHI       WAS         D   WAS10     36491.0

[197742 rows x 6 columns]

In [54]:
date_format = '%Y%m%d'

In [56]:
gamelogs_full['date'] = pd.to_datetime(gamelogs_full['date'], format = date_format)

In [57]:
gamelogs_full

             date away_team home_team game_time park_id  attendance
0      2008-03-25       BOS       OAK         N   TOK01     44628.0
1      2008-03-26       BOS       OAK         N   TOK01     44735.0
2      2008-03-30       ATL       WAS         N   WAS11     39389.0
3      2008-03-31       PIT       ATL         N   ATL02     45269.0
4      2008-03-31       MIL       CHN         D   CHI11     41089.0
...           ...       ...       ...       ...     ...         ...
197737 2005-10-02       MIL       PIT         D   PIT08     23008.0
197738 2005-10-02       LAN       SDN         D   SAN02     37748.0
197739 2005-10-02       ARI       SFN         D   SFO03     40239.0
197740 2005-10-02       CIN       SLN         D   STL09     50434.0
197741 2005-10-02       PHI       WAS         D   WAS10     36491.0

[197742 rows x 6 columns]

In [2]:
stadiums = pd.read_csv('data/relational_retrograde.csv', index_col = [0])

In [3]:
stadiums.head()

,team_code,team,state_code,year,primary_stadium,primary_latitude,primary_longitude,secondary_stadium,secondary_latitude,secondary_longitude,attendance/game,pitching_park_factor,batting_park_factor,park_ids,rg_teamcode
0,TBD,Tampa Bay Rays,FL,2019,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"14,552",96,97,STP01,TBA
1,TBD,Tampa Bay Rays,FL,2018,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"14,259",96,97,STP01,TBA
2,TBD,Tampa Bay Rays,FL,2017,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"15,477",96,96,STP01,TBA
3,TBD,Tampa Bay Rays,FL,2016,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"15,879",95,95,STP01,TBA
4,TBD,Tampa Bay Rays,FL,2015,Tropicana Field,27.768333,82.653333,NaN,NaN,NaN,"15,322",97,96,STP01,TBA

In [5]:
rg_codes = list(stadiums.rg_teamcode.unique())

In [10]:
teams = stadiums.team.unique()

In [11]:
team_code_simplified = []
for team in teams:
    dict_iter = {'team_name' : team}
    rg_code = stadiums[stadiums.team == team].rg_teamcode.value_counts().idxmax()
    dict_iter['rg_code'] = rg_code
    team_code_simplified.append(dict_iter)

In [13]:
t = pd.DataFrame(team_code_simplified)

In [16]:
t.head()

                team_name rg_code
0          Tampa Bay Rays     TBA
1    Tampa Bay Devil Rays     TBA
2       Oakland Athletics     OAK
3   Kansas City Athletics     KC1
4  Philadelphia Athletics     PHA

In [15]:
t.to_csv('data/rg_codes_by_team.csv')

In [18]:
di = {}
for j in range(len(t)):
    di[t.iloc[j]['team_name']] = t.iloc[j]['rg_code']

In [19]:
di

{'Tampa Bay Rays': 'TBA',
 'Tampa Bay Devil Rays': 'TBA',
 'Oakland Athletics': 'OAK',
 'Kansas City Athletics': 'KC1',
 'Philadelphia Athletics': 'PHA',
 'San Francisco Giants': 'SFN',
 'New York Giants': 'NY1',
 'Chicago Cubs': 'CHN',
 'Chicago Orphans': 'CHN',
 'Seattle Mariners': 'SEA',
 'Miami Marlins': 'FLO',
 'Florida Marlins': 'FLO',
 'Chicago White Sox': 'CHA',
 'Washington Nationals': 'WAS',
 'Montreal Expos': 'MON',
 'Arizona Diamondbacks': 'ARI',
 'Los Angeles Dodgers': 'LAN',
 'Brooklyn Dodgers': 'BRO',
 'Brooklyn Robins': 'BRO',
 'Brooklyn Superbas': 'BRO',
 'Pittsburgh Pirates': 'PIT',
 'Toronto Blue Jays': 'TOR',
 'Boston Red Sox': 'BOS',
 'Boston Americans': 'BOS',
 'Minnesota Twins': 'MIN',
 'Washington Senators': 'WS2',
 'Houston Astros': 'HOU',
 'Houston Colt .45s': 'HOU',
 'Kansas City Royals': 'KCA',
 'Cincinnati Reds': 'CIN',
 'Cincinnati Redlegs': 'CIN',
 'Cleveland Indians': 'CLE',
 'Cleveland Naps': 'CLE',
 'Cleveland Bronchos': 'CLE',
 'Cleveland Blues': 'CLE',
 'Colorado Rockies': 'COL',
 'New York Mets': 'NYN',
 'Milwaukee Brewers': 'MIL',
 'Seattle Pilots': 'SE1',
 'Philadelphia Phillies': 'PHI',
 'Atlanta Braves': 'ATL',
 'Milwaukee Braves': 'MLN',
 'Boston Braves': 'BSN',
 'Boston Bees': 'BSN',
 'Boston Rustlers': 'BSN',
 'Boston Doves': 'BSN',
 'Boston Beaneaters': 'BSN',
 'Detroit Tigers': 'DET',
 'New York Yankees': 'NYA',
 'New York Highlanders': 'NYA',
 'Los Angeles Angels': 'LAA',
 'Los Angeles Angels of Anaheim': 'ANA',
 'Anaheim Angels': 'ANA',
 'California Angels': 'CAL',
 'Texas Rangers': 'TEX',
 'San Diego Padres': 'SDN',
 'St. Louis Cardinals': 'SLN',
 'Baltimore Orioles': 'BLA',
 'St. Louis Browns': 'SLA'}